<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title title--withoutsubtitle text-center">You will love these features</h2>

        <div class="features">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon"></div>
                <h3 class="features__title">Easy-to-build</h3>
                <p class="features__text">Assemble modules via connectors. No need for soldering or wiring.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon features__icon--2"></div>
                <h3 class="features__title">Open-source</h3>
                <p class="features__text">Integrate your IoT devices with popular 3rd party platforms.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon features__icon--3"></div>
                <h3 class="features__title">Secure by design</h3>
                <p class="features__text">Encrypt your transmission and authenticate your devices.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--4"></div>
                <h3 class="features__title">3-year warranty</h3>
                <p class="features__text">All parts are made in EU using latest technologies.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--5"></div>
                <h3 class="features__title">Free shipping worldwide</h3>
                <p class="features__text">You’ll get your kits in 7 days anywhere in the world.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--6"></div>
                <h3 class="features__title">Lifetime support</h3>
                <p class="features__text">Use our large documentation, forum or chat with us.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
