<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title title--withoutsubtitle text-center">{{ i18n "love_features" | safeHTML }}</h2>

        <div class="features">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--7"></div>
                <h3 class="features__title">{{ i18n "affordable" }}</h3>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--8"></div>
                <h3 class="features__title">{{ i18n "simple" }}</h3>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="features__item">
                <div class="features__icon features__icon--9"></div>
                <h3 class="features__title">{{ i18n "engaging" }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
