<section>
  <div class="bg bg--gray bg--bubbles bg--borderedBottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="title title--2 text-center">Get even more<small>with our big kits</small></h2>

          <div class="pricelist">
            <div class="row no-gutters">
              {{ range sort ($.Site.GetPage "section" "kits").Pages ".Weight" }}
                {{ if .Params.isStarter }}
                  {{ .Render "grid-starter" }}
                {{ end }}
              {{ end }}
            </div>
          </div>

          {{ if ne .Section "kits" }}
            <div class="text-center">
              <a href="/en/kits/" class="button button--redtext">Show all kits</a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
