<section>
  <div class="container" id = "support">
    <div class="row">
      <div class="col">
        <h2 class="title text-center">{{ .heading }}<small>{{ .subheading }}</small></h2>

        <div class="contactbox">
          <div class="row">
            <div class="col-12 col-md-4">
              <a href="/doc/" target="_blank" class="contactbox__item">
                <div class="contactbox__icon"></div>
                <div class="text-center"><h3 class="contactbox__title">Documentation</h3></div>
                <p class="contactbox__text">Find step by step instructions here, including kit assembling and the cloud services' integration.</p>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="mailto:support@bigclown.com" class="contactbox__item">
                <div class="contactbox__icon contactbox__icon--mail"></div>
                <div class="text-center"><h3 class="contactbox__title">support@bigclown.com</h3></div>
                <p class="contactbox__text">Do not be afraid to ask us anything; we will be happy to help you! You can use our live chat too.</p>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="https://forum.bigclown.com" target="_blank" class="contactbox__item contactbox__item--noborder">
                <div class="contactbox__icon contactbox__icon--livechat"></div>
                <div class="text-center"><h3 class="contactbox__title">Forum</h3></div>
                <p class="contactbox__text">Chat with other makers, discuss your projects, share your progress and finished tasks.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
