<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col ">
          <div class = "testimonial">
            <div class="testimonial__item justify-content-between ">
              <div class="row">
              <div class = "col-12 col-md-4 testimonial__image-container">
                <img class = "testimonial__image" src = "/_assets/images/beranek_testimonial.jpg" />
                <div class = "testimonial__image-shadow"><!-- --></div>
              </div>
              <div class = "col-12 col-md-8 testimonial__content">
                <h2 class = "testimonial__heading">The Best IoT Kit to teach & learn digital skills</h2>
                <p class = "testimonial__text">The BigClown Educational Kit is a perfect tool to teach new technologies, especially in IoT area.</p>
                <h3 class="testimonial__name"><span>Marek Beranek</span> - Director at Unicorn College</h3>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
