<div class="col-12 col-md-6 col-lg-4">
  <article>
    <a href="{{.Permalink}}" class="articles__item">

      <div class="articles__item__image">
        <img src="{{ .Params.images.preview }} " alt="" />
      </div>

      <div class="articles__content">
        <h3 class="articles__title">{{ .Title }}</h3>
        <p class="articles__text">{{ .Params.description }}</p>
      </div>
      {{ range .Params.tags }}
        {{ $this_tag:= . | urlize}}
        <div class="button button--tag {{ index $.Site.Data.tags ($this_tag) }} articles__button">{{ $this_tag }}</div>
      {{ end }}
    </a>
  </article>
</div>
