
  <article>
    <a href="{{.Permalink}}" class="articles__item">
      {{ if eq .Params.idea true }}
      <span class = "articles__item__idea">Complete and Get 100 EUR</span>
      {{ end }}

      {{ if isset .Params "partner" }}
      <span class = "articles__item__supported">
        <span class="char1">S</span>
        <span class="char2">U</span>
        <span class="char3">P</span>
        <span class="char4">P</span>
        <span class="char5">O</span>
        <span class="char6">R</span>
        <span class="char7">T</span>
        <span class="char8">E</span>
        <span class="char9">D</span>
        <span class="char10"></span>
        <span class="char11">B</span>
        <span class="char12">Y</span>
      </span>
      <span class = "articles__item__logo">
        <img src = "/_assets/images/partners/{{ .Params.partner }}" />
      </span>
      {{ end }}
      <div class="articles__item__image">
        <img src="{{ .Params.images.preview }} " alt="" />
      </div>

      <div class="articles__content">
        <h3 class="articles__title">{{ .Title }}</h3>
        <p class="articles__text">{{ .Params.description }}</p>
      </div>
    </a>
  </article>
