{{ define "main" }}
<section>
  <div class="project__header">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-auto col-lg-4 mr-auto">
          <div class="d-flex justify-content-center">
            <span class="article__author article__author--project d-flex flex-column justify-content-center">
              <img src="{{ .Params.author.image }}" alt="" />
              <strong>{{ .Params.author.name }}</strong>
              <span>{{ .Params.author.post }}</span>
            </span>
          </div>
        </div>
        <div class="col-2 col-lg-4">
          <a href="{{ .Params.author.github.link }}" target = "_blank" class="button button--git">{{ .Params.author.github.name }}</a>
        </div>
        <div class="col-2 col-lg-4">
          <a href="mailto:{{ .Params.author.email }}" class="button button--email">{{ .Params.author.email }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ .Content }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="thankyou__button">
            <a href="{{ .Params.button.link }}" class="button button--fullred button--fullredbig">{{ .Params.button.text }}</a>
          </div>

          <h1 class="thankyou__title text-hide">Thank you</h1>
          <div class="thankyou__share d-flex justify-content-center align-items-center">
            <span>Share my project:</span>
            <a href="" class="thankyou__share__link text-hide">Facebook</a>
            <a href="" class="thankyou__share__link thankyou__share__link--twitter text-hide">twitter</a>
            <a href="" class="thankyou__share__link thankyou__share__link--google text-hide">google</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "additional-scripts" }}

{{ end }}
