{{ define "main" }}
<section>
  <div class="project__header">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-auto col-lg-4 mr-auto">
          <div class="d-flex justify-content-center">
            <span class="article__author article__author--project d-flex flex-column justify-content-center">
              <img src="{{ .Params.author.image }}" alt="" />
              <strong>{{ .Params.author.name }}</strong>
              <span>{{ .Params.author.post }}</span>
            </span>
          </div>
        </div>
        <div class="col-2 col-lg-4">
          <a href="{{ .Params.author.github.link }}" target = "_blank" class="button button--git">{{ .Params.author.github.name }}</a>
        </div>
        <div class="col-2 col-lg-4">
          <a href="mailto:{{ .Params.author.email }}" class="button button--email">{{ .Params.author.email }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <h1 class="intro__title4 intro__title3--notupper">{{ .Title }}</h1>

          <nav>

            <ul class="intro__links d-flex justify-content-center">

              {{ range .Params.tags }}

                {{ $this_tag:= . | urlize}}



                <li><span href="" class="button button--tag {{ index $.Site.Data.tags ($this_tag) }}">{{ $this_tag }}</span></li>
              {{ end }}
            </ul>
          </nav>

{{ .Content }}

<section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="thankyou__share d-flex justify-content-center align-items-center">
            <span>{{ i18n "share_my_project" }}:</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'facebook', '{{ .Permalink }}');">Facebook</a>
            <a href="https://twitter.com/home?status={{ .Title | htmlEscape }}%20{{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link thankyou__share__link--twitter text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'twitter', '{{ .Permalink }}');">twitter</a>
            <a href="https://plus.google.com/share?url={{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link thankyou__share__link--google text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'google', '{{ .Permalink }}');">google</a>
          </div>
        </div>
      </div>
    </div>
</section>

{{ end }}

{{ define "additional-scripts" }}

{{ end }}
