{{ define "main" }}

<section>
  <div class="intro intro---project d-flex justify-content-center align-items-center">
    <div class = "container">
    <h1 class="intro__title5">{{ .Title }}</h1>
    </div>
  </div>
</section>

<section>
<div class="bg bg--gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class = "col-12 col-xl-4 tableofcontent">
        {{- if len .TableOfContents }}
          {{ .TableOfContents }}
        {{- end }}

        {{ if ne .Params.idea true }}
        <div class="row">
          <div class="col-12 justify-content-center">
            <div class="article__author article__author--project d-flex flex-column justify-content-center">
              {{ $author := index $.Site.Data.authors .Params.author }}
              <img src="/authors/{{ $author.image }}" alt="{{ $author.name }}" />
              <strong>{{ $author.name }}</strong>
              <span>{{ $author.email }}</span>
            </div>
          </div>
          <div class="col-12 justify-content-center">
            <div class="addthis_inline_share_toolbox article__soc article__soc--project"></div>
          </div>
        </div>
        {{ end }}

      </div>
      <script>
        $('#TableOfContents').addClass('nav nav-pills');
        $('#TableOfContents ul').addClass('nav nav-pills');
        $('#TableOfContents a').addClass('nav-link');
        $('body').scrollspy({ target: '#TableOfContents', offset: 120 });
        $('#TableOfContents ul:first-child li:first-child ul:first-child li:first-child a:first-child').addClass('active');
      </script>
      <div class="col-12 col-xl-8">
        <div class="article__body article__body--project">
          <!--
          <div class="article__tags d-flex justify-content-center">
            <ul>
                {{ range .Params.levels }}
                  <li><a class="button button--tag button--tag--yellow">{{ . }}</a></li>
                {{ end }}
                {{ range .Params.tags }}
                  <li><a class="button button--tag button--tag--custom">{{ . }}</a></li>
                {{ end }}
                {{ range .Params.places }}
                  <li><a class="button button--tag button--tag--red">{{ . }}</a></li>
                {{ end }}
                {{ range .Params.devices }}
                  <li><a class="button button--tag button--tag--gray">{{ . }}</a></li>
                {{ end }}
            </ul>
          </div>

          {{ if isset .Params "partner" }}
          <div class="d-flex justify-content-center">
            <div class="article__author d-flex flex-column justify-content-center">
              <img src="{{ .Params.partner_image }}" alt="{{ .Params.partner }}" class = "partner" />
              <strong>{{ i18n "supported_extended" }} {{ .Params.partner }}</strong>
            </div>
          </div>
          {{ end }}
          -->
              {{ .Content }}
        </div>
        </div>
        </div>
    </div>
  </div>
</section>
<section>

  {{ if eq .Params.idea true }}
            <div class="livechat">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-md-2">
                            <div class="livechat__icon livechat__icon__2"></div>
                        </div>
                        <div class="col-8 col-md-6">
                            <h2 class="livechat__title">{{ i18n "get_100" | safeHTML }}</h2>
                            <p class="livechat__text">{{ i18n "complete_project" | safeHTML }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="livechat__button d-flex align-items-center">
                                <a href="#" onclick="Intercom('showNewMessage');" class="button button--block button--fullred">{{ i18n "make_a_deal" }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
<!--<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="thankyou__share d-flex justify-content-center align-items-center">
            <span>{{ i18n "share_my_project" }}:</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'facebook', '{{ .Permalink }}');">Facebook</a>
            <a href="https://twitter.com/home?status={{ .Title | htmlEscape }}%20{{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link thankyou__share__link--twitter text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'twitter', '{{ .Permalink }}');">twitter</a>
            <a href="https://plus.google.com/share?url={{ .Permalink | htmlEscape }}" target="_blank" class="thankyou__share__link thankyou__share__link--google text-hide" onclick="ga('gtm2.send', 'event', 'share-project', 'google', '{{ .Permalink }}');">google</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

{{ partial "www/projects-newest.html" . }}

{{ end }}

{{ define "additional-scripts" }}

<script>
  $(document).ready(function(){
    var width = $('#TableOfContents').width();
    $('#TableOfContents').width(width);
  });
  $(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
    var offset = $('.article__body').offset();
    var height = $('.article__body').height();
    var max = offset.top + height - 400;

    if(scroll > 300 && scroll < max){
      $('#TableOfContents').addClass('fixed');
    }
    else{
      $('#TableOfContents').removeClass('fixed');
    }
});
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59c0d0ca2278ef93"></script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.10&appId=147151422044678";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript">
    (function() {
        $('table').addClass('table table-striped');
        $('thead').addClass('thead-default');
        $( ".table" ).wrap( "<div class='table-responsive'></div>" );
    })();
  </script>


{{ end }}
