<div class="col-12 col-md-6 col-lg-4">
  <div class="team__item">
    <span data-toggle="modal" data-target="#{{ .Title | urlize }}" class="team__item__image">
    <!--<a href="#{{ .Title | urlize }}" data-toggle="modal" data-target="#{{ .Title | urlize }}" class="team__item__image">-->
      <img src="/team/preview/{{ .Params.images.preview }}" alt="{{ .Title }}" />
      <!--<div class="team__item__button d-flex justify-content-center">
        <div class="button button--fullredmiddle">About me</div>
      </div>-->
    </span>

    <div class="row">
      <div class="col">
        <h2 class="team__item__title"><a href="#{{ .Title | urlize }}" data-toggle="modal" data-target="#{{ .Title | urlize }}">{{ .Title }} <small>{{ .Params.position }}</small></a></h2>
      </div>
      <div class="col-auto">
        <div class="soc soc--team d-flex justify-content-end">
          {{ range .Params.social }}
          <a href="{{ .url }}" class="soc__{{ .name }} text-hide"></a>
          {{ end }}

        </div>
      </div>
    </div>

    <!-- Modal -->
    <!--
    <div class="modal" id="{{ .Title | urlize }}" tabindex="-1" role="dialog" aria-labelledby="{{ .Title | urlize }}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

          <div class="row d-md-flex">
            <div class="col-md-4 col-lg-6 d-md-flex align-items-md-end order-2 order-md-1">
              <img class="img-fluid" src="{{ .Params.images.full }}" alt="{{ .Title }}" />
            </div>
            <div class="col-md-8 col-lg-6 d-md-flex align-items-md-center order-1  order-md-2">
              <div>
                <h2 class="modal__title">{{ .Params.intro }}<span>{{ .Params.position }}</span></h2>
                <div class="modal__text text">
                  {{ .Content }}
                  <div class="modal__line"></div>
                </div>

                <div class="row">
                  <div class="col-12 col-md">
                    <div class="modal__email">
                      E-mail me: <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="modal__soc soc soc--team d-flex justify-content-center justify-content-md-end">
                      {{ range .Params.social }}
                      <a href="{{ .url }}" class="soc__{{ .name }} text-hide"></a>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
