<div class="col-12 col-md-4">
  <div class="pricelist__item {{ if .Params.recommended }} pricelist__item--rec {{ end }}">
    <div class="pricelist__content">
      {{ if .Params.recommended }} <div class="pricelist__rec">{{ i18n "recommended" }}</div> {{ end }}
      <!--<div class="logo logo--2"></div>-->
      <h3 class="pricelist__title">{{ .Title }}</h3>
      <div class="pricelist__title2 text-uppercase">{{ i18n "able_to_make" }}:</div>

      <ul class="pricelist__items">
        {{ range .Params.included }}
          <li class="pricelist__items__item">{{ . }}</li>
        {{ end }}
        {{ range .Params.notIncluded }}
          <li class="pricelist__items__item pricelist__items__item--disabled">{{ . }}</li>
        {{ end }}
          <li class="pricelist__items__item pricelist__items__item--gifts">
            {{ range $index, $element:= .Params.gifts }}
              <a href="#">{{ . }}
                {{ if (eq $index 0) }}
                  <div class="mydropdown mydropdown--product" style="display: none;">
                    <img src = "/_assets/images/nose.png" />
                  </div>
                {{ else }}
                  <div class="mydropdown mydropdown--product" style="display: none;">
                    <img src = "/_assets/images/suitcase.png" />
                  </div>
                {{ end }}
              </a>
            {{ end }}
          </li>
      </ul>
      <div class="pricelist__button">
        <a href="{{ .Permalink }}" class="button button--block {{ if .Params.recommended }} button--fullred {{ else }} button--gray {{ end }}">{{ i18n "learn_more" }}</a>
      </div>
    </div>
  </div>
</div>
