{{ define "main" }}

{{ $isStarter:= .Params.isStarter }}

<!--<section>
  <div class="submenu">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="submenu__list d-block d-md-flex">
            <li class="submenu__item"><a class="submenu__link submenu__link--overview" href="#overview">{{ i18n "overview" }}</a></li>
            {{ if eq $isStarter true }}<li class="submenu__item"><a class="submenu__link submenu__link--kit" href="#kit">{{ i18n "kits" }}</a></li>{{ end }}
            <!--<li class="submenu__item"><a class="submenu__link submenu__link--integration" href="#integration">{{ i18n "integration" }}</a></li>
            {{ if eq $isStarter false }}<li class="submenu__item"><a class="submenu__link submenu__link--specification" href="#specification">{{ i18n "tech_specs" }}</a></li>{{ end }}
            <li class="submenu__item"><a class="submenu__link submenu__link--support" href="#support">{{ i18n "support" }}</a></li>
            <li class="submenu__item ml-auto"><a class="button button--fullredsmall" href="{{ .Params.buyLink }}">{{ i18n "buy" }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>-->

  <section>
    <div class="kit">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-12 col-md-6 text-center">
            <img class="kit__mainimg" src="{{ .URL }}{{ .Params.images.main }}" alt="{{ .Title }}" />
          </div>
          <div class="col-12 col-md-6">
            <h1 class="title">{{ .Params.title }}</h1>
            <div class = "text">
            {{ .Content }}
            </div>
            <div class="d-flex ">
              <div class="kit__price">{{ .Params.price }}</div>
              <div class="kit__buy">
                <a href="{{ .Params.buyLink }}" class="button button--fullredmiddle">{{ i18n "buy_it_now" }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ if eq .Params.kit "starter-kit" }}
  <section>
    <div class="container">
      <div class = "benefits row align-items-center justify-content-center">
        <div class = "col-md-12">
          <div class = "row">

            <div class = "col-md-3 benefits__item text-left">
              <div class="benefits__icon benefits__icon--3"></div>
              <p>{{ i18n "p_you_save" | safeHTML }}</p>
            </div>
            <div class = "col-md-3 benefits__item text-left">
              <div class="benefits__icon"></div>
              <p>{{ i18n "p_recommended" | safeHTML }}</p>
            </div>
            <div class = "col-md-3 benefits__item text-left">
              <div class="benefits__icon benefits__icon--7"></div>
              <p>{{ i18n "p_bought" | safeHTML }}</p>
            </div>
            <div class = "col-md-3 benefits__item text-left">
              <div class="benefits__icon benefits__icon--6"></div>
              <p>{{ i18n "p_rating" | safeHTML }}</p>
            </div>
        </div>
        </div>
      </div>

    </div>
  </section>
<section>
  <div class="container">


    <div class = "benefits row align-items-center justify-content-center">
      <h2 class="text-center title">{{ i18n "its_safe" }}</h2>
      <div class = "col-md-12">
        <div class = "row">
          <div class = "col-6 benefits__item">
            <div class="benefits__icon"></div>
            <p>{{ i18n "p_no_risk" | safeHTML }}</p>
          </div>
          <div class = "col-6 benefits__item">
            <div class="benefits__icon benefits__icon--2"></div>
            <p>{{ i18n "p_free_shipping" | safeHTML }}</p>
          </div>
          <div class = "col-6 benefits__item">
            <div class="benefits__icon benefits__icon--4"></div>
            <p>{{ i18n "p_handbook_included" | safeHTML }}</p>
          </div>
          <div class = "col-6 benefits__item">
            <div class="benefits__icon benefits__icon--8"></div>
            <p>{{ i18n "p_handbook_projects" | safeHTML }}</p>
          </div>
          <div class = "col-6 benefits__item">
            <div class="benefits__icon benefits__icon--5"></div>
            <p>{{ i18n "p_master" | safeHTML }}</p>
          </div>
      </div>
      </div>


    </div>

  </div>
</section>


<section>
  <div class="container">
    <div class = "row">
      <div class = "col-12 col-md-4">
        <img src="/_assets/images/starter-kit/mas-to-dobre-1.jpg" alt="BigClown Playground" class = "img-fluid">
      </div>
      <div class = "col-12 col-md-4">
        <img src="/_assets/images/starter-kit/mas-to-dobre-2.jpg" alt="BigClown Playground" class = "img-fluid">
      </div>
      <div class="col-12 col-md-4">
          <img src="/_assets/images/starter-kit/skladacka.gif" alt="BigClown Kit" class = "img-fluid">
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if eq $isStarter true }}
<div id="kit">

  <section>
    <div class="bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center title">{{ i18n "able_to_build"}}</h2>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="slick">
                {{ $id:= .Params.id }}

                  {{ if eq $id "basic" }}
                    {{ range .Site.Pages }}
                      {{ if eq .Params.isBasic true }}
                        <div>
                          <a href="{{ .Permalink }}" class="product product--carousel">
                            <div class="product__images d-flex align-items-center justify-content-center">
                              <img src="{{ .URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
                              <img src="{{ .URL }}{{ .Params.images.hover }}" alt="{{ .Title }}" />
                            </div>
                            <h3 class="product__title d-flex align-items-center justify-content-center">{{ .Title }}</h3>
                            <p class="product__text d-flex align-items-center justify-content-center">{{ .Params.description }}</p>
                            <div class="product__button">
                              <span class="button button--gray button--gray--smaller">{{ i18n "learn_more" }}</span>
                            </div>
                          </a>
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end}}

                  {{ if eq $id "premium" }}
                    {{ range .Site.Pages }}
                      {{ if eq .Params.isPremium true }}
                        <div>
                          <a href="{{ .Permalink }}" class="product product--carousel">
                            <div class="product__images d-flex align-items-center justify-content-center">
                              <img src="{{ .URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
                              <img src="{{ .URL }}{{ .Params.images.hover }}" alt="{{ .Title }}" />
                            </div>
                            <h3 class="product__title d-flex align-items-center justify-content-center">{{ .Title }}</h3>
                            <p class="product__text d-flex align-items-center justify-content-center">{{ .Params.description }}</p>
                            <div class="product__button">
                              <span class="button button--gray button--gray--smaller">{{ i18n "learn_more" }}</span>
                            </div>
                          </a>
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end}}

                  {{ if eq $id "ultimate" }}
                    {{ range .Site.Pages }}
                      {{ if eq .Params.isUltimate true }}
                        <div>
                          <a href="{{ .Permalink }}" class="product product--carousel">
                            <div class="product__images d-flex align-items-center justify-content-center">
                              <img src="{{ .URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
                              <img src="{{ .URL }}{{ .Params.images.hover }}" alt="{{ .Title }}" />
                            </div>
                            <h3 class="product__title d-flex align-items-center justify-content-center">{{ .Title }}</h3>
                            <p class="product__text d-flex align-items-center justify-content-center">{{ .Params.description }}</p>
                            <div class="product__button">
                              <span class="button button--gray button--gray--smaller">{{ i18n "learn_more" }}</span>
                            </div>
                          </a>
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ else }}

{{ $kit := .Params.kit }}
{{ $projects := where (where .Site.Pages "Section" "projects" ) "Params.kit" "intersect" $kit}}


{{ with $projects }}
<section>
  <div class = "bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title title--withoutsubtitle text-center">{{ i18n "selected_projects" }}</h2>
        <div class="articles">
                            <div class="row">
                              {{ range first 3 $projects }}
                                <div  class="col-12 col-md-6 col-lg-4 show-item">
                                    {{ .Render "grid" }}
                                </div>
                                {{ end }}
                            </div>
                            <div class="text-center">
                                <a href="{{ "projects/" | absLangURL }}" class="button button--redtext button--redtext--2">{{ i18n "show_all_projects"}}</a>
                            </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{ end }}

  <section>
    <div class="modules" id = "explore-modules">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="title title--2 text-center">{{ i18n "modules_in_kit" }}</h2>

            <div class="row">

              {{ range .Params.modules }}
              <div class="col-12 col-md-6 col-lg-4">
                {{ $key := . }}
                {{ $module := index $.Site.Data.modules $key }}

                {{ if eq $.Site.Language.Lang "en"}}
                <a href="{{ $module.en_link }}" class="modules__photo" target="_blank" onclick="ga('send', 'event', 'Kit', 'click', 'Click on module', '{{ $module.name }}');">
                  <div class="modules__photo__image d-flex justify-content-center align-items-center">
                    <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
                  </div>

                  <div class="modules__photo__desc">
                    <h3 class="modules__photo__title">{{ $module.name }}</h3>
                  </div>
                </a>
                {{ else }}
                <a href="{{ $module.cs_link }}" class="modules__photo" target="_blank" onclick="ga('send', 'event', 'Kit', 'click', 'Click on module', '{{ $module.name }}');">
                  <div class="modules__photo__image d-flex justify-content-center align-items-center">
                    <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
                  </div>

                  <div class="modules__photo__desc">
                    <h3 class="modules__photo__title">{{ $module.name }}</h3>
                  </div>
                </a>
                {{ end }}

                  <!--<a href="/modules/{{ $module.image.small }}" class="modules__photo magnificPopup">
                    <div class="modules__photo__image d-flex justify-content-center align-items-center">
                      <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
                    </div>

                    <div class="modules__photo__desc">
                      <h3 class="modules__photo__title">{{ $module.name }}</h3>
                    </div>
                  </a>-->
                  </div>
              {{ end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}

<!--<section>
  <div class="bg bg--gray bg--bordered" id="integration">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="title title--3 text-center">{{ i18n "integration_ready"}}</h2>

          <div class="integration">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <a href="http://www.blynk.cc/" target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/blynk.png" alt="" />
                  </div>
                  <h3 class="integration__title">Blynk</h3>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <a href="https://ifttt.com/" target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/ifthis.jpg" alt="" />
                  </div>
                  <h3 class="integration__title">IFTTT</h3>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <a href="https://ubidots.com" target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/ubidots.png" alt="" />
                  </div>
                  <h3 class="integration__title">Ubidots</h3>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <span class="integration__item integration__item--more d-flex align-items-center justify-content-center">
                  {{ i18n "many_more" }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<!--<section>
  <div class="bg bg--gray bg--bordered" id="integration">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="title title--3 text-center">{{ i18n "low_power_networks_integration" }}</h2>
          <p class="text-center">{{ i18n "extend_kit"}}</p>
          <br>
          <div class="integration">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <a href="https://www.sigfox.com/en" target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/sigfox.jpg" alt="" />
                  </div>
                  <h3 class="integration__title">SigFox</h3>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <a href="https://www.lora-alliance.org" target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/lora.jpg" alt="" />
                  </div>
                  <h3 class="integration__title">LoRa</h3>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <span target="_blank" class="integration__item">
                  <div class="integration__image d-flex align-items-center justify-content-center">
                    <img src="/_assets/images/NB-IoT.jpg" alt="" />
                  </div>
                  <h3 class="integration__title">NB-IoT ({{ i18n "coming_soon" }})</h3>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

{{ end }}
