<div class="col-12 col-md-6 col-lg-4 d-flex">
  <a href="{{ .Permalink }}" class="articles__item articles__item--2">

    <div class="articles__item__image">
      <img src="{{ .Page.URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
    </div>

    <div class="articles__content articles__content--2">
      <h3 class="articles__title articles__title--2">{{ .Title }}</h3>
      <p class="articles__text articles__text--2">{{ .Params.description }}</p>
    </div>
    <div class="articles__author d-flex align-items-center">
      <div class="articles__author__image"><img src="/authors/{{ .Params.author.image }}" alt="{{ .Params.author.name }}" /></div>
      <div class="articles__author__title">{{ .Params.author.name }}</div>
      <div class="ml-auto articles__author__time">{{ .Date.Format "2 January 2006" }}</div>
    </div>
    <!--<div class="button button--tag button--tag--blue button--tag--blue--active articles__button">Indoor</div>-->
  </a>
</div>
