{{ define "main" }}
<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <main aria-role="main">
        <div class="page-content">
        {{ .Content }}
        </div>
      </main>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
    <ul>
    {{ range (.Paginator 2).Pages }}
      <li class="post">
        <header><a href="{{ .RelPermalink }}">{{ .Title }}</a></header>
        <time class="post-time">{{ .Date.Format "15:04 January 2, 2006" }}</time>
        <div class="post-content">
          <p>{{ .Summary | truncate 200 }}</p>
        </div>
      </li>
    {{ end }}
    </ul>
    {{ if .Paginator.HasPrev }}
    <a class="btn btn-default" href="{{ .Paginator.Prev.URL }}">&lt;</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="btn btn-default" href="{{ .Paginator.Next.URL }}">&gt;</a>
    {{ end }}
    </div>
  </div>
</div>
{{ end }}
