{{ partial "_head.html" . }}

{{ block "navbar" . }}
  {{ partial "navbar.html" . }}
{{ end }}

<div class="searchbox">
  <label for="search-by"><i class="fa fa-search"></i></label>
  <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
  <span data-search-clear=""><i class="fa fa-close"></i></span>
</div>

  <main role="main">
    {{ block "main" . }}
    {{ partial "main.html" . }}
    {{ end }}
  </main>

{{ partial "newsletter.html" }}
{{ partial "footer.html" . }}
{{ partial "_scripts.html" . }}

{{ block "additional-scripts" . }}

{{ end }}

{{ partial "_foot.html" }}
