body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  line-height: 1.6em;
  padding-top: 60px;
}

p {
  margin-top: 10px;
}

.semi-transparent {
  opacity: 0.2;
}

.avatar {
  height: 200px;
}

.main {
  margin-bottom: 100px;
  max-width: 1800px;
  margin-bottom: 100px;
  padding: 20px;
}

.note {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.note-icon {
  display: table-cell;
  font-size: 1.7em;
  padding-right: 15px;
}

.note-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.note-content p {
  margin: 0;
}

.page-content h1, .page-content h2, .page-content h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.page-content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.page-content table > thead > tr > th,
.page-content table > tbody > tr > th,
.page-content table > tfoot > tr > th,
.page-content table > thead > tr > td,
.page-content table > tbody > tr > td,
.page-content table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.page-content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.page-content table > caption + thead > tr:first-child > th,
.page-content table > colgroup + thead > tr:first-child > th,
.page-content table > thead:first-child > tr:first-child > th,
.page-content table > caption + thead > tr:first-child > td,
.page-content table > colgroup + thead > tr:first-child > td,
.page-content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.page-content table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.page-content table .table {
  background-color: #fff;
}

.page-content table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.page-content code {
  /*box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);*/
}

.page-content pre {
  border: 0;
  padding: 0;
}

img {
  width: 100%;
}
