body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  line-height: 2;
  padding-top: 60px;
}

.semi-transparent {
  opacity: 0.2;
}

.avatar {
  height: 200px;
}

.main {
  margin-bottom: 100px;
  max-width: 1600px;
  margin-bottom: 100px;
  padding: 20px;
}

.note {
  display: table;
  width: 100%;
}

.note-icon {
  display: table-cell;
  font-size: 1.7em;
  padding-right: 15px;
}

.note-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.note-content p {
  margin: 0;
}
