body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
  padding-top: 60px;
  position: relative;
  /*overflow-y: scroll;*/
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin-top: 10px;
}

ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}

ol > li {
  position: relative; /* Create a positioning context */
  margin: 0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  list-style: none; /* Disable the normal item numbering */
  border-top: 2px solid #600;
}

ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #600;
  color: #fff;
  background: #600;
  font-weight: bold;
  text-align: center;
}

li ol, li ul {
  margin-top: 6px;
}

ol ol li:last-child {
  margin-bottom: 0;
}

.avatar {
  height: 200px;
}

.main {
  margin-bottom: 100px;
  max-width: 1800px;
  padding: 20px;
}

.note {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.note-icon {
  display: table-cell;
  font-size: 1.7em;
  padding-right: 15px;
}

.note-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.note-content p {
  margin: 0;
}

.page-content h1, .page-content h2, .page-content h3 {
  margin-bottom: 30px;
  margin-top: 40px;
}

.page-content table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.page-content table > thead > tr > th,
.page-content table > tbody > tr > th,
.page-content table > tfoot > tr > th,
.page-content table > thead > tr > td,
.page-content table > tbody > tr > td,
.page-content table > tfoot > tr > td {
  border-top: 1px solid #ddd;
  line-height: 1.42857143;
  padding: 8px;
  vertical-align: top;
}

.page-content table > thead > tr > th {
  border-bottom: 2px solid #ddd;
  vertical-align: bottom;
}

.page-content table > caption + thead > tr:first-child > th,
.page-content table > colgroup + thead > tr:first-child > th,
.page-content table > thead:first-child > tr:first-child > th,
.page-content table > caption + thead > tr:first-child > td,
.page-content table > colgroup + thead > tr:first-child > td,
.page-content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.page-content table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.page-content table .table {
  background-color: #fff;
}

.page-content table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.page-content pre code {
  white-space: pre;
}

.panel-group{
  margin-top: 20px;
}
#scrollspy {
    top: 100px;
    position: fixed;
    display: none;
    background: white;
    z-index: 1;
    left: 75%;
}

#scrollspy > nav ul {
   list-style: none;
   padding-left: 0;
}

*[id]:before {
  content: " ";
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

@media print {
  /* bootstrap class */
  .hidden-print {
    display: none !important;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  .max-print {
    width: 100%
  }
  body {
    line-height: normal;
    font-size: 10pt;
    padding-top: 0
  }
}

.clipboardContainer {
  position: relative;
}

.clipboardContainer button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.navbar-header {
  margin-left: 30px;
}

.navbar-right > li > a {
  background: red;
  color: white !important;
}
.nav > li > a {
    padding: 5px 10px
}

.navbar-right > li > a:hover,
.navbar-right > li > a:focus {
   background-color: rgb(180, 0, 0) !important;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 50px;
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
