<script src="/_assets/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
<script src="/_assets/js/{{ index .Site.Data.js.hash "jquery.ajaxchimp.js" }}"></script>
<script>
  $('#newsletterSignup').ajaxChimp({
      url: 'https://bigclown.us13.list-manage.com/subscribe/post?u=eed5aaeac748fe3d34010119b&id=a7bdf5f975',
      callback: mailchimpSent
  });
  function mailchimpSent (resp) {
    if (resp.result === 'success') {
        ga('gtm1.send', 'event', 'Newsletter', 'signup');
    }
  }
</script>
