<script src="/_assets/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
<script src="/_assets/js/{{ index .Site.Data.js.hash "jquery.ajaxchimp.js" }}"></script>
<script>
  $('#newsletterSignup').ajaxChimp({
      url: 'https://bigclown.us13.list-manage.com/subscribe/post?u=eed5aaeac748fe3d34010119b&id=a7bdf5f975',
      callback: mailchimpSent
  });
  function mailchimpSent (resp) {
    if (resp.result === 'success') {
        ga('gtm2.send', 'event', 'Newsletter', 'signup','footer');
    }
  }
</script>

<script>
  $('#newsletterPopupSignup').ajaxChimp({
      url: 'https://bigclown.us13.list-manage.com/subscribe/post?u=eed5aaeac748fe3d34010119b&id=a7bdf5f975',
      callback: mailchimpSent
  });
  function mailchimpSent (resp) {
    if (resp.result === 'success') {
        ga('gtm2.send', 'event', 'Newsletter', 'signup', 'popup');
    }
  }
</script>


<script>
  function ValidateEmail(inputText)
  {
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    if(inputText.match(mailformat))
    {
      return true;
    }
    else
    {
      return false;
    }
  }

  $("#educationSignup").submit(function(e){
    e.preventDefault();
    var value = $("#email").val()

    if(ValidateEmail(value)){
      $("#mc-email").val(value);
      //ga('gtm2.send', 'event', 'Education', 'signup', 'step1');
      $('.modal-education').modal({
        keyboard: false
      })
    }
    else if(value.length === 0){
      $(".education__input").addClass("education__input--error");
      $(".education__validation").text("Please tell us your e-mail address");
    }
    else{
      $(".education__input").addClass("education__input--error");
      $(".education__validation").text("Please use correct format of e-mail, ex.: cooper@bigclown.com");
    }


  });
  /*$('#educationSignup').ajaxChimp({
      url: 'https://bigclown.us13.list-manage.com/subscribe/post?u=eed5aaeac748fe3d34010119b&id=a7bdf5f975',
      callback: mailchimpSent
  });
  function mailchimpSent (resp) {
    if (resp.result === 'success') {
        ga('gtm2.send', 'event', 'Newsletter', 'signup', 'popup');
    }
  }*/
</script>

<script>
  $('#educationSignupStep2').ajaxChimp({
      url: 'https://bigclown.us13.list-manage.com/subscribe/post?u=eed5aaeac748fe3d34010119b&id=a7bdf5f975',
      callback: mailchimpSent
  });
  function mailchimpSent (resp) {
    if (resp.result === 'success') {
        //ga('gtm2.send', 'event', 'Education', 'signup', 'step2');
    }
  }

  $("#educationSubmit").click(function(e){

    if($("#mc-email").val().length < 2){
      e.preventDefault();
      $("#label-mc-email").text("Please tell us your e-mail address");
      $("#label-mc-email").addClass("educationForm__label--errorMessage");
      $("#mc-email").addClass("educationForm__input--error");
    }

    if($("#mc-name").val().length < 2){
      e.preventDefault();
      $("#label-mc-name").text("Please tell us your name");
      $("#label-mc-name").addClass("educationForm__label--errorMessage");
      $("#mc-name").addClass("educationForm__input--error");
    }
    if($("#mc-company").val().length < 2){
      e.preventDefault();
      $("#label-mc-company").text("Please tell us name of school, company or institution");
      $("#label-mc-company").addClass("educationForm__label--errorMessage");
      $("#mc-company").addClass("educationForm__input--error");
    }

    if($("#mc-city").val().length < 2){
      e.preventDefault();
      $("#label-mc-city").text("Please tell us city and country where you work");
      $("#label-mc-city").addClass("educationForm__label--errorMessage");
      $("#mc-city").addClass("educationForm__input--error");
    }

    if($("#mc-post").val().length < 2){
      e.preventDefault();
      $("#label-mc-post").text("Please tell us your position at school");
      $("#label-mc-post").addClass("educationForm__label--errorMessage");
      $("#mc-post").addClass("educationForm__input--error");
    }
  });
</script>
