<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col ">
          <div class = "education-promo">
            <div class="education-promo__item justify-content-between ">
              <div class="row">

              <div class = "col-12 col-sm-6 col-md-7 education-promo__content">
                <h2 class = "education-promo__heading">How to engage kids to learn tech?</h2>
                <p class = "education-promo__text">Find out how to motivate kids to learn digital skills and how to successfuly implement STEM education.</p>
                <a href="https://shop.bigclown.com/starter-kit-with-raspberry-pi/" class="button button--fullred ">Learn more</a>
              </div>
              <div class = "col-12 col-sm-6 col-md-5 education-promo__image-container">
                <img class = "education-promo__image" src = "/_assets/images/beranek_testimonial.jpg" />
                <div class = "education-promo__image-shadow"><!-- --></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
