<div class="footer-dark hidden-print">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 item">
          <h3>Contact</h3>
          <ul>
            <li>HARDWARIO&nbsp;s.r.o.</li>
            <li>Mrštíkova&nbsp;399/2a</li>
            <li>460&nbsp;07&nbsp;Liberec</li>
            <li>Czechia</li>
          </ul>
          <br>
          <ul>
            <li><p class="text-nowrap"><a href="mailto:ask@bigclown.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ask@bigclown.com</a></p></li>
            <li><p class="text-nowrap"><a href="tel:+420725190630"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;+420 725 190 630</a></p></li>
          </ul>
        </div>
        <div class="col-sm-3 item">
          <h3>Links</h3>
          <ul>
            <li><a href="{{ relref . "www/shopping-info.md" }}">Shopping&nbsp;Info</a></li>
            <li><a href="{{ relref . "www/cookies.md" }}">Cookies</a></li>
            <li><a href="https://drive.google.com/drive/folders/0B7mImtQnvdScb0NMMjgwOXRyZDA">Presskit</a></li>
          </ul>
        </div>
        <div class="col-sm-3 item">
          <h3>Support</h3>
          <ul>
            <li><a href="/doc/">Documentation</a></li>
            <li><a href="https://forum.bigclown.com/" target="_blank">Forum</a></li>
            <li><a href="https://github.com/bigclownlabs" target="_blank">GitHub</a></li>
          </ul>
          <br>
          <ul>
            <li><p class="text-nowrap"><a href="mailto:support@bigclown.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;support@bigclown.com</a></p></li>
          </ul>
        </div>
        <div class="col-sm-3 item">
          <p><img src="/_assets/svg/bigclown-avatar.svg" class="avatar"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 item social"><a href="https://www.facebook.com/bigclownlabs" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/BigClownLabs" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/company/bigclown-labs-s.r.o." target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://www.youtube.com/channel/UCf1CdGt1XBwAAT_Qh__bEhQ" target="_blank"><i class="icon ion-social-youtube"></i></a></div>
      </div>
      <p class="copyright">HARDWARIO&nbsp;s.r.o.&nbsp;&copy;&nbsp;2017</p>
    </div>
  </footer>
</div>
