<footer role="contentinfo">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="footer__title">Contact</div>
                    <div class="row">
                        <div class="col">
                            <div class="footer__text">
                                <strong>HARDWARIO s.r.o.</strong><br />
                                Mrštíkova 399/2a<br />
                                46007 Liberec<br />
                                CZECHIA
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer__text">
                                <strong>Phone</strong><br />
                                +420 725 190 630<br />
                                <strong>Email</strong><br />
                                <a href="mailto:ask@bigclown.com">ask@bigclown.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer__title">Navigation</div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/kits/">Kits</a></li>
                        <li><a href="/team/">Our team</a></li>
                        <!--<li><a href="/en/blog/">Blog</a></li>-->
                    </ul>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer__title">Support</div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="/doc/" target="_blank">Documentation</a></li>
                                <li><a href="https://intercom.help/bigclown" target="_blank">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="https://forum.bigclown.com" target="_blank">Forum</a></li>
                                <li><a href="https://github.com/bigclownlabs" target="_blank">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__text">
                        <a href="mailto:support@bigclown.com">support@bigclown.com</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer__line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="soc d-flex">
                        <a href="https://www.facebook.com/bigclownlabs/" target="_blank" class="soc__facebook text-hide">facebook</a>
                        <a href="https://twitter.com/BigClownLabs/" target="_blank" class="soc__twitter text-hide">twitter</a>
                        <a href="https://www.youtube.com/channel/UCf1CdGt1XBwAAT_Qh__bEhQ" target="_blank" class="soc__youtube text-hide">youtube</a>
                        <a href="https://www.linkedin.com/company/13187032/" target="_blank" class="soc__linked text-hide">linkedin</a>
                        <a href="https://github.com/bigclownlabs" target="_blank" class="soc__github text-hide">github</a>
                        <!--<a href="" class="soc__presskit text-hide">presskit</a>-->
                    </div>
                </div>
                <div class="col-auto">
                    <div class="button button--arrowtop">Back to Top</div>
                </div>
            </div>
        </div>
    </div>
</footer>
