<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.bigclown.com/" target="_blank"><img src="/_assets/svg/bigclown-logo.svg" alt="BigClown Logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/doc/">DOCUMENTATION</a></li>
        <li><a href="https://github.com/bigclownlabs/" target="_blank">GITHUB</a></li>
        <li><a href="https://forum.bigclown.com/" target="_blank">FORUM</a></li>
        <li><a href="https://shop.bigclown.com/" target="_blank">SHOP</a></li>
      </ul>
    </div>
  </div>
</nav>
