<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BigClown</a>
    </div>
    <ul class="nav navbar-nav">
    {{- if eq .Page.Lang "cs" }}
      <li><a href="/cs/blog/">BLOG</a></li>
      <li><a href="https://shop.bigclown.cz/">OBCHOD</a></li>
      <li><a href="/cs/doc/">DOKUMENTACE</a></li>
      <li><a href="{{ relref . "www/support.cs.md" }}">PODPORA</a></li>
      <li><a href="{{ relref . "www/about-us.cs.md" }}">O NÁS</a></li>
      <li><a href="https://github.com/bigclownlabs" target="_blank">GITHUB</a></li>
    {{- else }}
      <li><a href="/en/blog/">BLOG</a></li>
      <li><a href="https://shop.bigclown.com/">SHOP</a></li>
      <li><a href="/en/doc/">DOCUMENTATION</a></li>
      <li><a href="{{ relref . "www/support.en.md" }}">SUPPORT</a></li>
      <li><a href="{{ relref . "www/about-us.en.md" }}">ABOUT US</a></li>
      <li><a href="https://github.com/bigclownlabs" target="_blank">GITHUB</a></li>
    {{- end }}
    </ul>
  </div>
</nav>
