<section>
  <form method="" action="" id="newsletterSignup">
    <div class="bg bg--darkgray">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <div class="newsletter__clown"></div>
          </div>
          <div class="col">
            <div class="newsletter__title">Clownsletter</div>
            <div class="newsletter__text">{{ i18n "sign_up" }}</div>
            <label for="mc-email" style = "color: #53a327"></label>
          </div>
          <div class="col-12 col-md-12 col-lg-auto d-block d-md-flex align-items-sm-center">
            <input type="email" placeholder="{{ i18n "give_me_email" }}" name="email" id="mc-email" class="newsletter__input" />
            <button type="submit" class="button button--red newsletter__button">{{ i18n "get_inspiration" }}</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>
