<section>
  <form method="" action="" id="newsletterSignup">
    <div class="bg bg--darkgray">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <div class="newsletter__clown"></div>
          </div>
          <div class="col-auto">
            <div class="newsletter__title">Clownsletter</div>
            <div class="newsletter__text">{{ i18n "sign_up" }}</div>
            <label for="mc-email" style = "color: #53a327"></label>
          </div>
          <div class="col-5">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
              	portalId: "5560121",
              	formId: "3278253d-9c96-4528-b826-f14200f3eabd",
                inlineMessage: "<span style = 'display: block; color:white;margin-top:33px;font-weight:bold;font-size: 18px'>Thank you! You are now signed up to our Clownsletter!</span>",
                onFormReady: function($form) {
                  var b = $form.children(".hs-email");
                  var f = $form.children(".hs-submit").children(".actions");

                  b.css("marginTop", "20px");
                  b.css("marginBottom", "0");
                  b.children("label").hide();
                  f.css("margin", "0");
                  f.css("paddingTop", "0");
                  f.children(".hs-button").css("paddingTop","15px");
                  f.children(".hs-button").css("paddingBottom","15px");
                }
              });
            </script>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>
