<section>
    <div class="bg bg--darkgray">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <div class="newsletter__clown"></div>
          </div>
          <div class="col-auto">
            <div class="newsletter__title">Clownsletter</div>
            <div class="newsletter__text">{{ i18n "sign_up" }}</div>
          </div>
          <div class="col-10 col-md-5 pb-5 pb-md-0">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
                portalId: "5560121",
                formId: {{ .Site.Params.clownsletter }},
                inlineMessage: "<span style = 'display: block; color:white;margin-top:33px;font-weight:bold;font-size: 18px'>Thank you! You are now signed up to our Clownsletter!</span>",
                onFormReady: function($form) {
                  var b = $form.children(".hs-email");
                  var f = $form.children(".hs-submit").children(".actions");

                  b.css("marginTop", "20px");
                  b.css("marginBottom", "0");
                  b.children("label").hide();
                  f.css("margin", "0");
                  f.css("paddingTop", "0");
                  f.css("marginBottom", "20px");
                  f.children(".hs-button").css("paddingTop","15px");
                  f.children(".hs-button").css("paddingBottom","15px");
                }
              });
            </script>
          </div>

        </div>
      </div>
    </div>
</section>
