{{ define "main" }}

<section>
  <div class = "imageHeader imageHeader--homepage">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-12 heading">
          <h1 class = "{{ .Lang }}">
            <svg
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="626px" height="135px" viewBox="0 0 626 134">
            <path fill-rule="evenodd"  fill="rgb(229, 27, 32)"
             d="M7.909,6.947 L593.438,-0.012 L600.999,66.000 L0.000,66.000 L7.909,6.947 Z"/>
            <path fill-rule="evenodd"  fill="rgb(227, 7, 17)"
             d="M20.398,17.000 L618.218,60.396 L625.993,134.862 L20.398,129.660 L20.398,17.000 Z"/>
            </svg>
            <div>{{ i18n "learn_digital_skills" | safeHTML }}</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section>
  <div class="kit">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-4 text-center">
          <img class="kit__mainimg starterKitImage" src="/_assets/images/starterKit.png" alt="Starter Kit" />
        </div>
        <div class="col-12 col-md-5">
          <div class="text text--perex">
            <h2>Ehm... BigClown???</h2>
            <p>Now you can also flash pre-compiled firmware from any Android device with OTG USB support.</p>
          </div>
          <div>
            <a href="https://shop.bigclown.com/starter-kit-with-raspberry-pi/" class="button button--fullred ">More about Starter Kit</a>
            </div>
        </div>
      </div>
      <div class="col">
        <h2 class="title title--withoutsubtitle text-center">Projects you can build</h2>
        <div class="articles">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <article>
                                        <a href="" class="articles__item">

                                            <div class="articles__item__image">
                                                <img src="images/article.jpg" alt="">
                                            </div>

                                            <div class="articles__content">
                                                <h3 class="articles__title">Parking garage sensor</h3>
                                                <p class="articles__text">Podívej se, jak jednoduše si s námi můžeš psát firmware pro ARM Cortex M0+</p>
                                            </div>
                                            <div class="button button--tag button--tag--blue button--tag--blue--active articles__button">Indoor</div>
                                        </a>
                                    </article>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <article>
                                        <a href="" class="articles__item">

                                            <div class="articles__item__image">
                                                <img src="images/article.jpg" alt="">
                                            </div>

                                            <div class="articles__content">
                                                <h3 class="articles__title">Parking garage sensor</h3>
                                                <p class="articles__text">Podívej se, jak jednoduše si s námi můžeš psát firmware pro ARM Cortex M0+</p>
                                            </div>
                                            <div class="button button--tag button--tag--blue button--tag--blue--active articles__button">Indoor</div>
                                        </a>
                                    </article>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <article>
                                        <a href="" class="articles__item">

                                            <div class="articles__item__image">
                                                <img src="images/article.jpg" alt="">
                                            </div>

                                            <div class="articles__content">
                                                <h3 class="articles__title">Parking garage sensor </h3>
                                                <p class="articles__text">Podívej se, jak jednoduše si s námi můžeš psát firmware pro ARM Cortex M0+</p>
                                            </div>
                                            <div class="button button--tag button--tag--blue button--tag--blue--active articles__button">Indoor</div>
                                        </a>
                                    </article>
                                </div>

                            </div>
                            <div class="text-center">
                                <a href="" class="button button--redtext button--redtext--2">Show more projects</a>
                            </div>
                        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $('.starterKitImage').hover(function(){
    $(this).attr('src','/_assets/images/starterKit-hover.png');
  },function(){
    $(this).attr('src','/_assets/images/starterKit.png');
  })
</script>-->

<section>
  <div class="getStarterKit bg bg--bubbleswhite">
    <div class="container">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">{{ i18n "start_digital_making" | safeHTML }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-8 ml-auto mr-auto text-center buyStarterKit">
          <img src = "/_assets/images/starterKit.png" class = "starterKitImage" />
          <div class = "starterPrice">
            <span class="previousPrice"><strike>{{ i18n "standard_price" }}</strike></span>&nbsp;&nbsp;<span class="currentPrice">{{ i18n "final_price" }}</span><br />
            <span class="youSave">{{ i18n "save" }} {{ i18n "you_save" }}</span>
          </div>


          {{ if eq $.Site.Language.Lang "en"}}
            <a href="https://shop.bigclown.com/starter-kit-with-raspberry-pi/" class="button button--fullred ">{{ i18n "buy_starter_kit" }}</a>
          {{ else }}
            <a href="https://obchod.bigclown.cz/starter-kit-with-raspberry-pi/" class="button button--fullred ">{{ i18n "buy_starter_kit" }}</a>
          {{ end }}


          <div class = "text">

            {{ if eq $.Site.Language.Lang "en"}}
                <a href = "{{ .URL }}start">{{ i18n "how_it_works" }}</a>
            {{ else }}
                <a href = "{{ .URL }}starter-kit">{{ i18n "how_it_works" }}</a>
            {{ end }}


          </div>
          <script>
            $('.starterKitImage').hover(function(){
              $(this).attr('src','/_assets/images/starterKit-hover.png');
            },function(){
              $(this).attr('src','/_assets/images/starterKit.png');
            })
          </script>
        </div>
      </div>

    </div>
  </div>
</section>

{{ partial "www/features.html" . }}

{{ partial "education_promo.html" . }}

<!--<section>
  <div class="bg bg--gray bg--borderedTop">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title text-center">We have everything you need<small>get started today with our full support</small></h2>
          <div class="articles">
            <div class="row d-flex align-content-stretch">

              {{ range first 3 ($.Site.GetPage "section" "blog").Pages }}
              {{ .Render "grid" }}
              {{ end }}

            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center">
              <a href="#" target="_blank" class="button button--redtext">Read more from blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--<section>
  <div class="bg bg--gray bg--bordered skills">
    <div class="container text-center">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">{{ i18n "skills" | safeHTML }}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class = "col-12 col-lg-10">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--10"></div>
                <h2>{{ i18n "electronics" }}</h2>
                <p>{{ i18n "electronics_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--11"></div>
                <h2>{{ i18n "programming" }}</h2>
                <p>{{ i18n "programming_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--12"></div>
                <h2>{{ i18n "3dprinting" }}</h2>
                <p>{{ i18n "3dprinting_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--13"></div>
                <h2>{{ i18n "iot" }}</h2>
                <p>{{ i18n "iot_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--14"></div>
                <h2>{{ i18n "bigdata" }}</h2>
                <p>{{ i18n "bigdata_text" | safeHTML }}</p>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>-->



<!--{{ partial "www/partners.html" . }}-->

<!-- partial "www/testimonials.html" .  -->

{{ partial "www/projects-newest.html" . }}

{{ end }}
