{{ define "main" }}

<section>
  <div class = "imageHeader imageHeader--homepage">
    <div class="container">
      <div class="row">
        <div class="col-12 heading">
        <h1>
          <svg
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           width="626px" height="135px" viewBox="0 0 626 134">
          <path fill-rule="evenodd"  fill="rgb(229, 27, 32)"
           d="M7.909,6.947 L593.438,-0.012 L600.999,66.000 L0.000,66.000 L7.909,6.947 Z"/>
          <path fill-rule="evenodd"  fill="rgb(227, 7, 17)"
           d="M20.398,17.000 L618.218,60.396 L625.993,134.862 L20.398,129.660 L20.398,17.000 Z"/>
          </svg>
          <div>{{ i18n "learn_digital_skills" | safeHTML }}</div>
        </h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="getStarterKit bg bg--bubbleswhite">
    <div class="container">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">{{ i18n "start_digital_making" | safeHTML }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-8 ml-auto mr-auto text-center buyStarterKit">
          <img src = "/_assets/images/starterKit.png" class = "starterKitImage" />
          <div class = "starterPrice">
            <span class="previousPrice"><strike>{{ i18n "standard_price" }}</strike></span>&nbsp;&nbsp;<span class="currentPrice">{{ i18n "final_price" }}</span><br />
            <span class="youSave">{{ i18n "save" }} {{ i18n "you_save" }}</span>
          </div>
          <a href="https://shop.bigclown.com/starter-kit/" class="button button--fullred ">{{ i18n "buy_starter_kit" }}</a>
          <div class = "text">
          <a href = "/start">learn how it works</a>
          </div>
          <script>
            $('.starterKitImage').hover(function(){
              $(this).attr('src','/_assets/images/starterKit-hover.png');
            },function(){
              $(this).attr('src','/_assets/images/starterKit.png');
            })
          </script>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="bg bg--gray bg--bordered skills">
    <div class="container text-center">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">Skills you will learn</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class = "col-10">
          <div class="row justify-content-center">
            <div class="col-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--10"></div>
                <h2>Electronics</h2>
                <p>No soldering or wiring, just&nbsp;plug&nbsp;&&nbsp;make</p>
              </div>
            </div>
            <div class="col-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--11"></div>
                <h2>Programming</h2>
                <p>Flows and firmware visual programming</p>
              </div>
            </div>
            <div class="col-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--12"></div>
                <h2>3D-Printing</h2>
                <p>Ready to 3D-print models of eclosure</p>
              </div>
            </div>
            <div class="col-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--13"></div>
                <h2>IoT</h2>
                <p>IoT connectivity with LPWAN support</p>
              </div>
            </div>
            <div class="col-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--14"></div>
                <h2>BigData</h2>
                <p>Ready to integrate with popular platforms</p>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>


{{ partial "www/features.html" . }}

{{ partial "www/testimonial.html" . }}

{{ partial "www/partners.html" . }}

<!-- partial "www/testimonials.html" .  -->

<!-- partial "www/projects-newest.html" . -->

{{ end }}
