{{ define "main" }}

{{ partial "www/intro.html" . }}



<section>
  <div class="getStarterKit">
    <div class="container">
      <h2 class="title text-center">{{ .Params.mainHeading | safeHTML }}</h2>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-6 text-center pr-5">
          <img class="kit__mainimg starterKitImage" src="/_assets/images/starter-kit.png" alt="Starter Kit" />
        </div>
        <div class="col-12 col-md-6">
          <div class="text text--perex">
           {{ .Content }}
          </div>
          <div>
            <a href="{{ .Params.button_link }}" class="button button--fullred button--bigger" style = "font-size: 1.4rem">{{ .Params.button | safeHTML }}</a>
          <br/>
          <div class = "benefits row align-items-center justify-content-center">
            <div class = "col-12 benefits__item">
              <div class="benefits__icon"></div>
              <p>{{ i18n "no_risk" | safeHTML }}</p>
            </div>
            <div class = "col-12 benefits__item">
              <div class="benefits__icon benefits__icon--2"></div>
              <p>{{ i18n "free_shipping" | safeHTML }}</p>
            </div>
            <div class = "col-12 benefits__item">
              <div class="benefits__icon benefits__icon--3"></div>
              <p>{{ i18n "you_save" | safeHTML }}</p>
            </div>
            <div class = "col-12 benefits__item">
              <div class="benefits__icon benefits__icon--4"></div>
              <p>{{ i18n "handbook_included" | safeHTML }}</p>
            </div>
            <div class = "col-12 benefits__item">
              <div class="benefits__icon benefits__icon--5"></div>
              <p>{{ i18n "master" | safeHTML }}</p>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section>
  <div class="getStarterKit bg bg--borderedTop">
    <div class="container">
      <div class="row">
        <div class="col-10 col-md-10 ml-auto mr-auto text-center buyStarterKit">
          <div class = "text">

            {{ if eq $.Site.Language.Lang "en"}}
                <a href = "{{ .URL }}start">{{ i18n "how_it_works" }}</a>
            {{ else }}
                <a href = "{{ .URL }}handbook">{{ i18n "how_it_works" }}</a>
            {{ end }}


          </div>

          <div class = "row mt-6 pt-6">
            <div class = "col">
              <h3>60 dní na vyzkoušenou</h3>
              <p>Pokud se ti to nebude líbit, můžeš nám kit kdykoli běhěm 60 dní poslat a my ti vrátíme peníze.</p>
            </div>
            <div class = "col">
              <h3>60 dní na vyzkoušenou</h3>
              <p>Pokud se ti to nebude líbit, můžeš nám kit kdykoli vrátit do 60 dní</p>
            </div>
            <div class = "col">
              <h3>60 dní na vyzkoušenou</h3>
              <p>Pokud se ti to nebude líbit, můžeš nám kit kdykoli vrátit do 60 dní</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
-->


<!--{{ partial "www/opinion.html" .  }} -->

{{ if eq $.Site.Language.Lang "en"}}
    {{ partial "www/projects-newest.html" . }}
{{ else }}
    {{ partial "www/projects-starter.html" . }}
{{ end }}

<script>
  /*$('.starterKitImage').hover(function(){
    $(this).attr('src','/_assets/images/starterKit-hover.png');
  },function(){
    $(this).attr('src','/_assets/images/starterKit.png');
  })*/
</script>
<!--
<section>
  <div class="getStarterKit bg bg--bubbleswhite">
    <div class="container">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">{{ i18n "start_digital_making" | safeHTML }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-8 ml-auto mr-auto text-center buyStarterKit">
          <img src = "/_assets/images/starterKit.png" class = "starterKitImage" />
          <div class = "starterPrice">
            <span class="previousPrice"><strike>{{ i18n "standard_price" }}</strike></span>&nbsp;&nbsp;<span class="currentPrice">{{ i18n "final_price" }}</span><br />
            <span class="youSave">{{ i18n "save" }} {{ i18n "you_save" }}</span>
          </div>


          {{ if eq $.Site.Language.Lang "en"}}
            <a href="https://shop.bigclown.com/starter-kit/" class="button button--fullred ">{{ i18n "buy_starter_kit" }}</a>
          {{ else }}
            <a href="https://obchod.bigclown.cz/starter-kit/" class="button button--fullred ">{{ i18n "buy_starter_kit" }}</a>
          {{ end }}


          <div class = "text">

            {{ if eq $.Site.Language.Lang "en"}}
                <a href = "{{ .URL }}start">{{ i18n "how_it_works" }}</a>
            {{ else }}
                <a href = "{{ .URL }}handbook">{{ i18n "how_it_works" }}</a>
            {{ end }}


          </div>
          <script>
            $('.starterKitImage').hover(function(){
              $(this).attr('src','/_assets/images/starterKit-hover.png');
            },function(){
              $(this).attr('src','/_assets/images/starterKit.png');
            })
          </script>
        </div>
      </div>

    </div>
  </div>
</section>

{{ partial "www/features.html" . }}-->

<!--{{ partial "education_promo.html" . }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title text-center">Inspirujme společně vynálezce zítřka <small>Najděte nápady na našem blogu</small></h2>
          <div class="articles">
            <div class="row d-flex align-content-stretch">

              {{ range first 3 ($.Site.GetPage "section" "blog").Pages }}
              {{ .Render "grid" }}
              {{ end }}

            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center">
              <a href="#" target="_blank" class="button button--redtext">Read more from blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section>
  <div class="bg bg--gray bg--bordered skills">
    <div class="container text-center">
      <div class="row">
        <div class="col-10 ml-auto mr-auto">
          <h2 class="title text-center">{{ i18n "skills" | safeHTML }}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class = "col-12 col-lg-10">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--10"></div>
                <h2>{{ i18n "electronics" }}</h2>
                <p>{{ i18n "electronics_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--11"></div>
                <h2>{{ i18n "programming" }}</h2>
                <p>{{ i18n "programming_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--12"></div>
                <h2>{{ i18n "3dprinting" }}</h2>
                <p>{{ i18n "3dprinting_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--13"></div>
                <h2>{{ i18n "iot" }}</h2>
                <p>{{ i18n "iot_text" | safeHTML }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class = "skills__item ">
                <div class="features__icon features__icon--14"></div>
                <h2>{{ i18n "bigdata" }}</h2>
                <p>{{ i18n "bigdata_text" | safeHTML }}</p>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>-->



<!--{{ partial "www/partners.html" . }}-->

{{ end }}
