.articles
{
  //padding-top: 2*$baseline;

  &--2
  {
    padding-top: 2*$baseline;
    padding-bottom: 2*$baseline;
  }

  &--nomargintop
  {
    padding-top: 0;
  }

  &__item
  {
    display: block;
    text-decoration: none!important;
    padding: 0;
    margin: 0;
    position: relative;
    height: 0;
    overflow:hidden;
    padding-bottom: 246/375*100%;
    border-radius: 7px;
    margin-bottom: $baseline;

    &__image
    {
      overflow: hidden;
      height: 0;
      overflow:hidden;
      padding-bottom: 246/375*100%;
    }

    &__idea
    {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: $baseline;
      background-color: red;
      width: 100%;
      //background-image: url("../svg/light-bulb.svg");
      background-size: contain;
      display: block;
      text-align: center;
      color: white;
      font-weight: 600;
    }

    &:hover
    {
      .articles__item__image img
      {
        transform: scale(1.2);
      }
    }

    &:after
    {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+86,000000+98&0.3+0,0.7+99 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.65) 86%, rgba(0,0,0,0.7) 98%, rgba(0,0,0,0.7) 99%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 86%,rgba(0,0,0,0.7) 98%,rgba(0,0,0,0.7) 99%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.65) 86%,rgba(0,0,0,0.7) 98%,rgba(0,0,0,0.7) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
      border-radius: 7px;
    }

    &--2
    {
      height:auto;
      padding-bottom: 4*$baseline;
      background: #ffffff;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

      &:after
      {
        display: none;
      }

      &:hover
      {
        .articles__title--2
        {
          color:#e30711;
        }
      }
    }
  }

  img
  {
    width: 100%;
    height:auto;
    display: block;
    border-radius: 7px;
    transition: all 0.7s ease 0s;
  }

  &__title
  {
    margin: 0;
    padding: 0;
    font-size: em(24);
    color:white;
    font-weight: 600;
    margin-bottom: 0.5*$baseline;
    max-height: 2*$baseline;
    overflow:hidden;

    @media(max-width: 1199px)
    {
      font-size: em(18);
      max-height: 2*$baseline*0.75;
      line-height: $baseline*0.75;
      margin-bottom: 0.25*$baseline;
    }

    &--2
    {
      color:#2e343c;
      font-size: em(32);
      line-height: 1.5*$baseline;
      padding-top: $baseline;
      font-weight: 900;
      max-height: none;

      @media(max-width: 1199px)
      {
        font-size: em(26);
        line-height: 1*$baseline;
      }
    }
  }

  &__content
  {
    position: absolute;
    top: 2*$baseline;
    left:0;
    width: 100%;
    padding: 0 30px;
    z-index: 1;

    &--2
    {
      position: relative;
      bottom:0;
    }
  }

  &__text
  {
    font-style: em(18);
    color:white;
    margin: 0;
    padding: 0;
    max-height: 2*$baseline;
    overflow:hidden;

    @media(max-width: 1199px)
    {
      font-style: em(16);
      line-height: 0.75*$baseline;
      max-height: 2*$baseline*0.75;
    }

    &--2
    {
      max-height: none;
      color:#2e343c;
      max-height: none;
    }
  }

  &__author
  {
    height: 3*$baseline;
    border-top: 1px solid #eaeaea;
    position: absolute;
    bottom:0;
    left:30px;
    right:30px;

    &__image
    {

      img
      {
        width:40px;
        height:40px;
        border: 3px solid white;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
      }
    }

    &__time
    {
      color:#9fa3a7;
    }

    &__title
    {
      font-weight: 600;
      color:#9fa3a7;
      padding-left: 10px;
    }
  }

  &__button
  {
    position: absolute;
    z-index: 1;
    left: 30px;
    top:30px;
  }
}
