.features
{
  padding-top: 0*$baseline;
  padding-bottom: 2*$baseline;

  @media(max-width:767px)
  {
    padding-bottom: 1*$baseline;
  }

  &__item
  {
    text-align: center;
    color:#2e343c;
    padding-top: $baseline;
    padding-bottom: 2*$baseline;

    @media(max-width:767px)
    {
      padding-bottom: 1*$baseline;
    }
  }

  &__title
  {
    line-height: 1*$baseline;
    font-size: em(24);
    font-weight: 600;
    margin:0;
    padding: 0.5*$baseline 0;
  }

  &__text
  {
    line-height: $baseline;
    font-size: em(18);
    margin:0;
    padding:0 30px;

    @media(max-width:1199px)
    {
      padding: 0;
    }
  }

  &__icon
  {
    height: 3*$baseline;
    background: url("../svg/easy-to-build.svg") no-repeat center center;
    background-size: 68px 68px;

    &--2
    {
      background-image: url("../svg/opensource.svg");
    }

    &--3
    {
      background-image: url("../svg/secure-by-design.svg");
    }

    &--4
    {
      background-image: url("../svg/warranty.svg");
    }

    &--5
    {
      background-image: url("../svg/free-shipping.svg");
    }

    &--6
    {
      background-image: url("../svg/lifetime-support.svg");
    }

    &--7
    {
      background-image: url("../svg/affordable.svg");
    }

    &--8
    {
      background-image: url("../svg/simple.svg");
    }

    &--9
    {
      background-image: url("../svg/engaging.svg");
    }

    &--10
    {
      background-image: url("../svg/electronics.svg");
    }

    &--11
    {
      background-image: url("../svg/programming.svg");
    }

    &--12
    {
      background-image: url("../svg/3dprinting.svg");
    }

    &--13
    {
      background-image: url("../svg/iot.svg");
    }

    &--14
    {
      background-image: url("../svg/bigdata.svg");
    }

    &--15
    {
      background-image: url("../svg/configuration.svg");
    }

    &--16
    {
      background-image: url("../svg/low-power.svg");
    }

    &--17
    {
      background-image: url("../svg/display.svg");
    }

    &--18
    {
      background-image: url("../svg/documentation-red.svg");
    }
  }
}
