.handbook{

  &.collapsor{
    padding-top: 0;
  }

  .collapsor__header{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 2*$baseline;

    h2{
      font-size: em(18);

      span{
        display: block;
        font-size: em(12);
        color:#ccc;
        padding-bottom: 10px;
      }
    }
    .button{
      padding: 0;
      margin: 0;
      font-size: em(12);
    }
  }
  .collapsor__header:hover{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
  }
  .collapsor__header--active{
    //box-shadow: none;
    .button{
      display: none;
    }
  }
  .collapsor__header:after{
    display: none;
  }

  .collapsor__body--active{
    border-bottom: none;
  }
  &__title{
    font-size: em(32);
    font-weight: 900;
    margin: 0;
    padding: 0;
    line-height: 1.5*$baseline;
    padding-bottom: 1*$baseline;
    padding-top: 2*$baseline;
    //text-align: center;
    padding-left: 0;

    @media(max-width: 991px)
    {
      padding-top: 2*$baseline;
      font-size: em(30);
      line-height: $baseline*1.25;
    }
  }

  p,ul,ol
  {
    font-size: em(18);
    padding-bottom: $baseline;
    margin: 0;

    li{
      padding-bottom: 0.5*$baseline;
    }
  }

  .articles{

    p{
      font-size: em(16);
      padding-bottom: 0;
    }

  }
  &__perex
  {
    padding-top: 1*$baseline;
    //padding-bottom: $baseline;

    p
    {
      color:#2e343c;
      font-size: em(20);
      line-height: 1.2*$baseline;

      @media(max-width: 991px)
      {
        //padding-bottom: 0;
        font-size: em(22);
        line-height: 1.25*$baseline;
      }
    }
  }

  h3{
    padding-top: 0.5*$baseline;
  }

}
