.article__body a{
  color: #e41419;
  text-decoration: underline;
}
.article__body a:hover{
  text-decoration: none;
}
main{
  padding-top: 65px!important;
}
.indiegogo{
  width: 100%;
  height: 65px;
  background: #2a2a2a;
  position: absolute;
  z-index: 9999;
  top: 0;
  color: white;
    line-height: 60px;
}
.header{
  top: 65px;
}
.indiegogo .newsletter__text.shorter{
  display: none;
}
.indiegogo .button--redtext.tablet{
  display: none!important;
}
.indiegogo .button--redtext.mobile{
  display: none!important;
}
@media screen and (max-width: 1240px) {
  .indiegogo .newsletter__text.longer{
    display: none;
  }
  .indiegogo .newsletter__text.shorter{
    display: inline-block;
  }
}
@media screen and (max-width: 960px) {

  .indiegogo .button--redtext.desktop{
    display: none!important;
  }

  .indiegogo .button--redtext.tablet{
    display: inline-block!important;
  }
}
@media screen and (max-width: 800px) {
  main{
    padding-top: 95px!important;
  }
  .indiegogo{
    height: 95px;
  }
  .header{
    top: 95px;
  }
  .indiegogo .newsletter__text.longer{
    display: none;
  }
  .indiegogo .newsletter__text.shorter{
    display: none;
  }

  .indiegogo .button--redtext.desktop{
    display: none!important;
  }
  .indiegogo .button--redtext.tablet{
    display: none!important;
  }
  .indiegogo .button--redtext.mobile{
    display: inline-block!important;
  }
}
