@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
//@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
//@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
//@import "../../node_modules/bootstrap/scss/forms";
//@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
//@import "../../node_modules/bootstrap/scss/button-group";
//@import "../../node_modules/bootstrap/scss/input-group";
//@import "../../node_modules/bootstrap/scss/custom-forms";
//@import "../../node_modules/bootstrap/scss/nav";
//@import "../../node_modules/bootstrap/scss/navbar";
//@import "../../node_modules/bootstrap/scss/card";
//@import "../../node_modules/bootstrap/scss/breadcrumb";
//@import "../../node_modules/bootstrap/scss/pagination";
//@import "../../node_modules/bootstrap/scss/badge";
//@import "../../node_modules/bootstrap/scss/jumbotron";
//@import "../../node_modules/bootstrap/scss/alert";
//@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/media";
//@import "../../node_modules/bootstrap/scss/list-group";
//@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
//@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";
//@import "../../node_modules/bootstrap/scss/print";

@import "../../node_modules/magnific-popup/src/css/main";
@import "../../node_modules/slick-carousel/slick/slick.scss";



$baseline: 27px;

@function vw($target) {
  $vw-context: (1440*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function vh($target) {
  $vw-context: (810*.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin font1()
{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden!important;
  overflow-y: scroll!important;
}

body
{
  @include font1();
  background: white;
  line-height: $baseline;
  padding-top:$baseline*3;

  @media(max-width:991px)
  {
    padding-top:$baseline*2;
  }
}

.wf-loading * {
  visibility: hidden;
}
.wf-active * {
  visibility: visible;
}

button,a
{
  transition: all 0.7s ease 0s;
  cursor: pointer;

  &:before,&:after
  {
    transition: all 0.7s ease 0s;
  }
}

*,
*:focus{
  outline: none!important;
}

.container-fluid {
  padding: 0px;
}

small {
  font-size: 100%;
}

.mfp-iframe-holder .mfp-content
{
  max-width: 80vw;
}

.container
{
  @media(max-width:1199px)
  {
    max-width: 95%;
  }

  @media(max-width:991px)
  {
    max-width: 100%;
    padding: 0 30px;
  }

  @media(max-width:767px)
  {
    padding: 0 15px;
  }
}

.addthis_inline_share_toolbox
{
  margin-top: 1.5*$baseline;
}

.line
{
  height:1px;
  background:#dfdfdf;
  width:100%;
}

@import "fonts";
@import "header";
@import "logo";
@import "navtop";
@import "button";
@import "mydropdown";
@import "intro";
@import "jquery.mb.YTPlayer.min";
@import "title";
@import "bg";
@import "product";
@import "or";
@import "pricelist";
@import "features";
@import "testimonials";
@import "articles";
@import "newsletter";
@import "footer";
@import "soc";
@import "categories";
@import "contactbox";
@import "text";
@import "article";
@import "related";
@import "submenu";
@import "kit";
@import "modules";
@import "slick";
@import "integration";
@import "specification";
@import "project";
@import "step";
@import "videoWrapper";
@import "thankyou";
@import "team";
@import "modal";
@import "collapsor";
@import "livechat";
@import "threed";
//@import "indiegogo";
//@import "doc";
@import "zoom";
