.navtop
{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  //font-size: em(18);

  @media(max-width:991px)
  {
    position: absolute;
    top:#{2*$baseline};
    left: 0;
    width: 100vw;
    background: white;
    padding: 0.5*$baseline 30px;
    height:calc(100vh - #{2*$baseline});

    @media(max-width:767px)
    {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__item
  {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    height: 3*$baseline;

    @media(max-width:991px)
    {
      display: block;
      height: auto;
    }

    &:hover
    {
      >ul
      {
        display: block;
      }

      .navtop__link
      {
        color:#fff!important;
        background: #e41419;

        @media(max-width:991px)
        {
          background: white;
          color:#e41419!important;
        }

        @media(min-width:992px)
        {
          &:after
          {
            background: url("../svg/arrowdownwhite.svg") no-repeat center right;
          }
        }
      }
    }
  }

  &__link
  {
    color:#2e343c!important;
    padding:0 10px;
    display: block;
    text-decoration: none!important;
    text-transform: uppercase;
    font-size: em(18);
    margin: 0 8px;
    //background: white;
    border-radius: 5px;
    transition: all 0s ease 0s;

    @media(max-width:1300px)
    {
      padding: 0 5px;
    }

    @media(max-width:1230px)
    {
      font-size: em(15);
    }

    @media(max-width:1199px)
    {
      font-size: em(14);
      margin: 0 5px;
    }

    @media(max-width:991px)
    {
      font-size: em(16);
      padding: 0px;
      line-height: 1.5*$baseline;
      margin: 0;
      display: block;
    }

    &--active
    {
      color:#fff!important;
      background: #e41419;

      @media(max-width:991px)
      {
        background: white;
        color:#e41419!important;
      }
    }

    &:hover
    {
      @media(min-width:992px)
      {
        color: #fff !important;
        background: #e41419;
      }
    }

    &--arrow
    {
      &:after
      {
        display: inline-block;
        vertical-align: middle;
        background: url("../svg/arrowdown.svg") no-repeat center right;
        height: $baseline;
        width:18px;
        content: '';
        position: relative;
        top:-1px;
        transition: none;

        @media(max-width:991px)
        {
          //display: none;
        }
      }
    }
  }

  &__button
  {
    margin-left: 61-17px;

    @media(max-width:1400px)
    {
      margin-left: 10px;
    }

    @media(max-width:991px)
    {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &__submenu
  {
    position: absolute;
    min-width: 100%;
    background: #2e343c;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top:100%;
    left:0px;
    display: none;
    //border-top: 26px solid white;

    @media(max-width:991px)
    {
      position: relative;
      top:0;
      border:0;
      display: block;
      padding: 0.5*$baseline 0px;
      padding-top: 0;
      background: white;
      display: none;
      padding-left: 15px;
    }

    &:before
    {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #2e343c transparent;

      content: '';
      top:-9px;
      z-index: 1;
      position: absolute;
      left:50%;
      margin-left: -9px;

      @media(max-width:991px)
      {
        display: none;
      }

    }

    >li
    {
      >a
      {
        line-height: 53-30px;
        padding: 15px 5px;
        display: block;
        color:white!important;
        text-decoration: none!important;
        font-weight: normal;
        border-bottom: 1px solid #3c4551;

        @media(max-width:991px)
        {
          color:#2e343c!important;
          border: 0;
          padding: 0;
          line-height: $baseline;
        }

        &:hover,
        &.active
        {
          color:#e41419!important;
        }
      }

      &:last-child
      {
        >a
        {
          border-bottom: 0;
        }
      }
    }
  }
}

.navtop__link.navtop__link--arrow:hover
{
  @media(min-width:992px)
  {
    &:after
    {
      background: url("../svg/arrowdownwhite.svg") no-repeat center right;
    }
  }
}