.project
{
  &__header
  {
    border-bottom: 1px solid #dfdfdf;
  }

  &__detail{

    h2{
      counter-reset: project;
      padding-top: $baseline;
    }

    .perex{
      font-size: em(20);
      line-height: em(24);
    }

    ol
    {
      list-style: none;
      padding: 0;
      margin: 0;
      //margin-top: $baseline;

      >li
      {
        position: relative;
        padding-left: 70px;
        font-size: em(18);
        padding-top: 15px;
        margin-bottom: 5px;
        &:after
        {
          position: absolute;
          //top:5px;
          left:0;
          color:#9fa3a7;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          width:45px;
          height:45px;
          line-height:45px;
          text-align: center;
          counter-increment: project;
          content: counter(project);
          font-size: em(18);
          font-weight: bold;
        }

        li{
          font-size: em(16);
          margin-bottom: 0px;
        }
      }
    }
  }
}
