.slogan{
  background: #e41419;
  border-radius: 5px;
  margin-bottom: 2*$baseline;

  h3{
    padding-top: $baseline;
    padding-bottom: $baseline;
    color: white;
    font-weight: 900;
    font-size: em(40);
    line-height: 2*$baseline;

    @media(max-width: 1199px)
    {
      font-size: em(34);
    }

    @media(max-width: 991px)
    {
      padding-left: 1px;
      padding-right: 10px;
      font-size: em(30);
      line-height: $baseline*1.25;
    }

  }
}
