.tableofcontent{
  position: relative;
  .fixed{
    position: fixed;
    z-index: 1;
    top: 30px;
  }
  ul{
    padding-top: 3*$baseline;
    padding-left: 15px;
    list-style: none;

    li{
      color: #0f7b8d;
      margin-bottom: 3px;
      display: block;
      overflow: hidden;

      a{
        color: #0f7b8d;
        font-size: em(18);
        padding-left: 0px;
        padding: 3px 5px;
        margin-left: 0;
        border-radius: 7px;
        display: block;
        float: left;
        clear: both;

        &.active{
          color: white;
          background: #0f7b8d;
        }
      }

      ul{
        padding: 0;
        ul{
          display: none;
        }
      }
    }
  }

  &__toggle{
    width: 100%;
    height: 2*$baseline;
    line-height: 2*$baseline;
    color: white;
    background: #0f7b8d;
    font-size: em(18);
    font-weight: 900;
    padding-left: 2.5%;
    display: none;
    cursor: pointer;

    @media(max-width:1201px){
      display: block;
    }

    span{
      top: 8px;
      font-size: em(24);
      margin-right: 10px;
    }
  }


  @media(max-width:1201px){
    //display: none;
    padding: 0 0;

    .nopadding{
      padding: 0!important;
    }
    .fixed{
      position: static;
    }
    ul {
      padding: 0;
      li ul{
      display: none;
      padding-top: 0*$baseline;
      padding-left: 0;

      li{
        padding: 0;
        margin: 0;

        a{
          padding: 12px 20px;
          float: none;
          border-radius: 0px;
          color: white;
          background: #0f7b8d;
          border-bottom: solid 1px #1399af;
        }
      }
    }
    }

  }
}
