.text
{
  p
  {
    font-size: em(18);
    padding-bottom: $baseline;
    margin: 0;
  }

  h2
  {
    padding: 0.5*$baseline 0;
    margin: 0;
  }

  &--perex
  {
    padding-top: 1.5*$baseline;
    //padding-bottom: $baseline;

    p
    {
      color:#2e343c;
      font-size: em(24);
      line-height: 1.5*$baseline;

      @media(max-width: 991px)
      {
        //padding-bottom: 0;
        font-size: em(22);
        line-height: 1.25*$baseline;
      }
    }
  }

  &--contact
  {
    padding-top: 4*$baseline;
    background: url("../svg/pointer.svg") no-repeat left top 18px;
    background-size: 48px 70px;
    padding-bottom: 5*$baseline;
    margin-top: 0;
    width: 100%;

    @media(max-width:991px)
    {
      padding-bottom: 2*$baseline;
    }

    @media(max-width:767px)
    {
      text-align: center;
      background-position: center top 18px;
    }
  }

  &--red
  {
    font-size: em(22);
    color:#e30711;
    font-weight: 700;
  }

  a
  {
    color:#e30711!important;
    font-weight: 700;
    text-decoration: underline;
    font-size: em(18);

    &:hover
    {
      text-decoration: none;
    }
  }

  &--project
  {
    text-align: center;
    padding-bottom: 1*$baseline;
    padding-top: 0;

    p
    {
      font-size: em(24);
      padding-bottom: $baseline;
      margin: 0;
      line-height: 1.5*$baseline;
      color:#2e343c;

      @media(max-width: 991px)
      {
        padding-bottom: 0;
        font-size: em(18);
        line-height: 1*$baseline;
      }
    }
  }

  &--step
  {
    padding-right: vw(100px);
    padding-left: 30px;

    p
    {
      font-size: em(18);
      line-height: 1*$baseline;
      color:#393e45;
      padding-bottom: 0;
    }

    ol,ul
    {
      padding: 5px 0 5px 30px;
      margin: 0;

      li{
      font-size: em(18);
      line-height: 1*$baseline;
      color:#393e45;
      }

    }
  }

  &--team
  {
    padding-top: 0;
    padding-bottom: $baseline;
  }

  blockquote
  {
    color:#2e343c;
    font-size: em(24);
    font-style: italic;
    line-height: 1*$baseline;
    padding-top: 0.5*$baseline;
    padding-bottom: 1.5*$baseline;
    margin:0;
  }
}
