{{- $page := .Page -}}
{{- $product := .Get 0 -}}
<h1>Odkazy související s produktem</h1>
{{- range where $.Site.Data.shop.products "title" $product -}}
  <div>GitHub sourcecode</div>
  
  {{- with index . "name_underscore" -}}
    <a href="https://github.com/bigclownlabs/bcf-sdk-core-module/blob/master/bcl/inc/bc_{{- . -}}.h" target="_blank">{{- . -}}.h</a><br />
  {{- else -}}
    Will be added soon
  {{- end -}}
  
  {{- with index . "name_underscore" -}}
    <a href="https://github.com/bigclownlabs/bcf-sdk-core-module/blob/master/bcl/src/bc_{{- . -}}.c" target="_blank">{{- . -}}.c</a><br />
  {{- else -}}
    Will be added soon
  {{- end -}}
  
  <div>Schematic</div>
  
  {{- with index . "name_dash" -}}
    <a href="https://github.com/bigclownlabs/bc-hardware/blob/master/out/bc-{{- . -}}" target="_blank">{{- $product -}}&nbsp;PDF schematics</a><br />
  {{- else -}}
    Will be added soon
  {{- end -}}
  
  <div>Obrázek</div>
  {{- with index . "name_dash" -}}
    <img src="{{- . -}}.png" width="50%" /><br />
  {{- else -}}
    Will be added soon
  {{- end -}}
  
{{- else -}}
  Will be added soon
{{- end -}}
