<div class="row article__modules">
  {{ range $.Page.Params.modules }}
  <div class="col-12 col-md-6 col-lg-4">
    {{ $key := . }}
    {{ $module := index $.Site.Data.modules $key }}

      {{ if eq $.Site.Language.Lang "en"}}
      <a href="{{ $module.en_link }}" class="modules__photo" target="_blank" onclick="ga('send', 'event', 'Kit', 'click', 'Click on module', '{{ $module.name }}');">
        <div class="modules__photo__image d-flex justify-content-center align-items-center">
          <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
        </div>

        <div class="modules__photo__desc">
          <h3 class="modules__photo__title">{{ $module.name }}</h3>
        </div>
      </a>
      {{ else }}
      <a href="{{ $module.cs_link }}" class="modules__photo" target="_blank" onclick="ga('send', 'event', 'Kit', 'click', 'Click on module', '{{ $module.name }}');">
        <div class="modules__photo__image d-flex justify-content-center align-items-center">
          <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
        </div>

        <div class="modules__photo__desc">
          <h3 class="modules__photo__title">{{ $module.name }}</h3>
        </div>
      </a>
      {{ end }}

      <!--<a href="/modules/{{ $module.image.small }}" class="modules__photo magnificPopup">
        <div class="modules__photo__image d-flex justify-content-center align-items-center">
          <img src="/modules/{{ $module.image.small }}" alt="{{ $module.name }}" />
        </div>

        <div class="modules__photo__desc">
          <h3 class="modules__photo__title">{{ $module.name }}</h3>
        </div>
      </a>-->
      </div>
  {{ end}}
</div>
