<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <h1 class="intro__title4 intro__title3--notupper">{{ .Get "title" }}</h1>

          <nav>
            <ul class="intro__links d-flex justify-content-center">
              <li><span href="" class="button button--tag button--tag--red button--tag--red--active">NO-SOLDERING</span></li>
              <li><span href="" class="button button--tag button--tag--blue button--tag--blue--active">NO-PROGRAMMING</span></li>
            </ul>
          </nav>
        <div class="text text--project">
          {{ .Inner }}
        </div>
      </div>
    </div>
  </div>
</section>
