{{ define "main" }}

{{ partial "www/heading.html" (dict "heading" .Params.mainHeading) }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="articles articles--2">
            <div class="row d-flex align-content-stretch">

              {{ range .Data.Pages.ByWeight }}
              <div class="col-12 col-md-6 col-lg-4 d-flex">
              {{ .Render "grid" }}
              </div>
              {{ end }}

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}
