{{ define "main" }}

{{ partial "www/heading.html" (dict "heading" .Params.mainHeading) }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="articles articles--2">
            <div class="row d-flex align-content-stretch">

              {{ range .Data.Pages }}
              {{ .Render "grid" }}
              {{ end }}

            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center">
              <a href="{{ .RSSLink }}" target="_blank" class="button button--redtext" onclick="ga('send', 'event', 'rss', 'click');">{{ i18n "save_rss" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "www/support.html" }}

{{ end }}
