{{ define "main" }}

{{ partial "www/heading.html" (dict "heading" "Contact") }}

<section>
  <div class="bg bg--bordered">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row d-flex">
            <div class="col-12 col-md-6 d-flex">
              <div class="text text--contact">
                <p>
                  <span class="text text--red">HARDWARIO s.r.o.</span><br />
                  Mrštíkova 399/2a<br />
                  46007 Liberec<br />
                  CZECHIA<br /><br />
                  <strong>Company ID:</strong> 049985117&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>VAT ID:</strong> CZ04998511<br /><br />
                  The company is registered in the Commercial Register, maintained by the Regional Court in Usti nad Labem, <strong>Section C, File 37399.</strong><br />
                </p>
                <h2 class=""><a href = "mailto:ask@bigclown.com">ask@bigclown.com</a></h2>
                <h2 class="">We are also here</h2>
                <div class="soc soc--2 d-flex justify-content-center justify-content-md-start">
                  <a href="https://www.facebook.com/bigclownlabs/" target="_blank" class="soc__facebook">facebook</a>
                  <a href="https://twitter.com/BigClownLabs/" target="_blank" class="soc__twitter">twitter</a>
                  <a href="https://www.youtube.com/channel/UCf1CdGt1XBwAAT_Qh__bEhQ" target="_blank" class="soc__youtube">youtube</a>
                  <a href="https://www.linkedin.com/company/13187032/" target="_blank" class="soc__linked">linkedin</a>
                  <a href="https://github.com/bigclownlabs" target="_blank" class="soc__github">github</a>
                </div>

                <h2>For media:</h2>
                <a href="https://drive.google.com/drive/u/1/folders/0B7mImtQnvdScb0NMMjgwOXRyZDA" target="_blank">Get the Bigclown presskit</a>
              </div>

            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
              <img src="/_assets/images/map.jpg" class="img-fluid" alt="bigclown - our birthplace" />
            </div>
          </div>

          <div class="d-block d-md-none">
            <br />
            <br />
            <br />
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
