{{ define "main" }}

{{ $title := .Title }}
{{ partial "www/heading.html" (dict "heading" $title "class" "intro__title3--notupper") }}

<div id="overview">
  <section>
    <div class="kit">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-12 col-md-6 text-center">
            <img class="kit__mainimg" src="{{ .URL }}{{ .Params.image }}" alt="{{ .Title }}" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <h2 class="kit__title kit__title--description">{{ .Params.title }}<small>Test your private or public LoRa network</small></h2>
            <p>{{ .Params.description }}</p>

            <div class="d-flex justify-content-center">
              <div class="kit__price">{{ .Params.price }}</div>
              <div class="kit__buy">
                <a href="{{ .Params.buyLink }}" class="button button--fullredmiddle">{{ i18n "buy_it_now" }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h3 class="title title--withoutsubtitle text-center">Why to love BigClown Lora Tester</h3>
      </div>
      <div class="col-12">
        <div class="features">
          <div class="row justify-content-center">
            <div class="col-8 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon"></div>
                <h3 class="features__title">Easy to Setup</h3>
                <p class="features__text">No-soldering, no-wiring. You just plug modules together, insert batteries and setup connection trough USB cable.</p>
              </div>
            </div>
            <div class="col-8 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon features__icon--2"></div>
                <h3 class="features__title">Open-Source</h3>
                <p class="features__text">All BigClown's kits and modules are open-source. You can edit it as you wish.</p>
              </div>
            </div>
            <div class="col-8 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon features__icon--15"></div>
                <h3 class="features__title">Fully Configurable</h3>
                <p class="features__text">You can easily configure frequency, region (868/915 MHz), ABP/OTTA, Class A, Class C other attributes.</p>
              </div>
            </div>
            <div class="col-8 col-md-6 col-lg-4 features__firstline">
              <div class="features__item">
                <div class="features__icon features__icon--16"></div>
                <h3 class="features__title">Long-life battery</h3>
                <p class="features__text">Thanks to low-power design of BigClown IoT kit device can works from batteries for years.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="bg bg--gray bg--borderedTop">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="title text-center">Wanna track position?<small>Extend the device with GPS Module!</h2>
          <div class="row d-none d-lg-flex">
            <div class="col-12 col-md-6 col-xl-4 ml-auto mr-auto">

                <a href="#" class="product">
                    <div class="product__images d-flex align-items-center justify-content-center">
                        <img src="{{ .Page.URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
                        <img src="{{ .Page.URL }}{{ .Params.images.hover }}" alt="{{ .Title }}" />
                    </div>
                    <h3 class="product__title d-flex align-items-center justify-content-center">LoRa Tester with GPS</h3>
                    <p class="product__text d-flex align-items-center justify-content-center">Track automatically position and signal strength to map by adding GPS Module</p>
                      <div class="pricelist__price">129€</div>
                    <div class="product__button">
                        <span class="button button--gray button--gray--smaller">Buy Now</span>
                    </div>
                </a>
            </div>
          </div>

          <div class="slick d-block d-lg-none">
            <div>
                <a href="#" class="product product--carousel">
                    <div class="product__images d-flex align-items-center justify-content-center">
                        <img src="{{ .Page.URL }}{{ .Params.images.preview }}" alt="{{ .Title }}" />
                        <img src="{{ .Page.URL }}{{ .Params.images.hover }}" alt="{{ .Title }}" />
                    </div>
                    <h3 class="product__title d-flex align-items-center justify-content-center">LoRa Tester with GPS</h3>
                    <p class="product__text d-flex align-items-center justify-content-center">Buy it with GPS</p>
                    <div class="product__button">
                        <span class="button button--gray button--gray--smaller">Buy Now</span>
                    </div>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  {{ .Content }}
</section>



{{ end }}
