{{ define "main" }}

<section>
  <div class="container pt-5">
    <div class="row d-flex ialign-items-center ijustify-content-center">

      <div class="col-5">
        <img class="kit__mainimg starterKitImage" src="/_assets/images/{{ .Params.image }}" alt="Starter Kit" />
      </div>
      <div class="col-6 pl-6">
        <div class = "text">
        <h1 class = "title">{{ .Params.mainHeading }}</h1>
        {{ .Content }}
        </div>
        <a href="#why-bigclown" class="button button--fullred">{{ .Params.why_button }}</a>
        <a href="{{ .Params.button_link }}" class="button button--gray ml-3">{{ .Params.button_short }}</a>

      </div>

    </div>
  </div>
</section>

        <section>
          <div id = "why-bigclown" class="pt-5 pb-4">
            <div class="container mt-5">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-12 col-md-6 pb-4">
                  <ul class="pricelist__items">
                    <li class="pricelist__items__item">{{ i18n "meaningful_time" | safeHTML }}</li>
                    <li class="pricelist__items__item">{{ i18n "discovering_world" | safeHTML }}</li>
                    <li class="pricelist__items__item">{{ i18n "learn_by_game" | safeHTML }}</li>
                    <li class="pricelist__items__item">{{ i18n "21st_century" | safeHTML }}</li>
                    <li class="pricelist__items__item">{{ i18n "real_world" | safeHTML }}</li>
                    <li class="pricelist__items__item">{{ i18n "approved_by_schools" | safeHTML }}</li>
                  </ul>
                </div>

                <div class="col-12 col-md-6 text-center">
                    <img src="/_assets/images/starter-kit/skladacka.gif" alt="BigClown Kit" class = "img-fluid">
                </div>

              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="getStarterKit pb-5 mb-5 bg bg--borderedTop">
            <div class="container">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-12 col-md-6 text-center pr-5">
                  <img class="kit__mainimg" src="/kits/starter-kit/main.png" alt="Starter Kit" />
                </div>
                <div class="col-12 col-md-6">
                  <h2 class = "title">Starter Kit</h2>
                  <div class = "text">
                  <p>{{ .Params.starterKit_text }}</p>
                  </div>
                  <a href="{{ .Params.starterKit_url }}" class="button button--fullred">{{ .Params.more_button }}</a>
                  <a href="{{ .Params.button_link }}" class="button button--gray ml-3">{{ .Params.button }}</a>
                </div>

              </div>
            </div>
          </div>
        </section>



{{ end }}
