{{ define "main" }}

<section>
  <div class="getStarterKit bg">
  <div class="container">
    <div class="row justify-content-center pt-5 pb-2">
      <div class="col-12 col-xl-10">
        <div class="article__header--smallerPadding">
          <div class="article__header__button">
            <img src="/_assets/images/starter-kit/1-ilustrace-rostak-drzici-KIT-se-zari.png" alt="BigClown Playground" style = "max-width:100%">
            <!--<h1 class="article__title">{{ .Params.mainHeading | safeHTML}}</h1>-->
            <div class="handbook__perex">
              <p>Získej náskok před ostatními. <strong>BigClown</strong> je zábavný nástroj, se kterým pochopíš a navrhneš <strong>internet věcí</strong> (IoT). To znamená, že ze všeho, třeba i ze svojí židle, vytvoříš chytré zařízení a <strong>propojíš ho se svým počítačem nebo mobilem</strong>. Díky tomu začneš digitálně vylepšovat svůj domov, třídu a klidně i celé město a svět.</p>
              <p>Základní sadou pro začátek je <strong>Starter Kit</strong>, ale časem ho můžeš vylepšit o rozšiřující kity. Podívej se, jak postavíš své první chytré zařízení a jak vytvoříš projekty, kterými ohromíš kámoše, rodinu i nás. 👌</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="collapsor handbook">

                                <div class="collapsor__item">
                                    <div class="collapsor__header">
                                      <div class="row">
                                        <div class = "col-md-6 align-self-center">
                                          <h2><span>Krok 1</span>Nejdřív to dej dohromady</h2>
                                          <span class = "button button--redtext">Jdu na to</span>
                                        </div>
                                        <div class = "col-md-6 align-self-center">
                                          <img src="/_assets/images/starter-kit/2-ilustrace-devce-sestavuje-KIT-korektura.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>
                                    </div>

                                    <div class="collapsor__body">
                                      <div class="row">
                                      <div class = "col-md-6 align-self-center">
                                        <div class = "handbook__perex">
                                          <p>Seznam se. 👋 Tohle jsou jednotlivé díly, které obsahuje tvůj Starter Kit.</p>
                                        </div>
                                          <p>Dílům se hromadně říká <strong>hardware</strong>, což je označení pro pevnou část jakéhokoliv zařízení. Těchhle pár věcí ti zároveň vystačí na spoustu projektů.</p>
                                          <p><small><strong>Věděl jsi?</strong> Hardware znamená v angličtině „nářadí”.</small></p>
                                      </div>
                                      <div class = "col-md-6 align-self-center">
                                        <img src="/_assets/images/starter-kit/3-infografika-dily-kitu.png" alt="BigClown Playground" style = "max-width:100%">
                                      </div>
                                      </div>

                                      <div class="row">
                                      <div class = "col-12">
                                        <h2 class = "handbook__title">Co s tím? Slož hardware do sebe, stačí ti k tomu 4 kroky.</h2>
                                      </div>
                                      <div class = "col-md-6 align-self-center">
                                        <ol>
                                          <li><strong>Napoj Button Module</strong> na <strong>Core Module</strong>. Buď opatrný, ať se jehličky nezlomí. Možná sis všiml, že jedna chybí, ale nemůžeš za to ty. Je to pro lepší orientaci. 👍</li>
                                          <li>Do <strong>Battery Modulu</strong> vlož <strong>baterky</strong> a to celé napoj na druhou stranu <strong>Core Module</strong>.</li>
                                          <li>Všechno uzavři do <strong>obalu</strong> a zajisti <strong>gumičkami</strong>.</li>
                                          <li>Už ti zbývá jenom složit <strong>USB Dongle</strong>. Čip uzavři do černé krabičky, aby z ní vykukoval stříbrný konektor.</li>
                                        </ol>

                                        <h3>🙌 Máš to dobře, když:</h3>
                                        <ul class = "checklist">
                                          <li>
                                            <label class="checkbox">baterky směřují dolů, ne nahoru,
                                              <input type="checkbox">
                                              <span class="checkmark"></span>
                                            </label>
                                          </li>
                                          <li>
                                            <label class="checkbox">dírkou v obalu na straně vidíš microUSB.
                                              <input type="checkbox">
                                              <span class="checkmark"></span>
                                            </label>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class = "col-md-6 align-self-center">
                                        <img src="/_assets/images/starter-kit/skladacka.gif" alt="BigClown Playground" style = "max-width:100%">
                                      </div>

                                      <div class = "col-md-6 align-self-center">
                                        <img src="/_assets/images/starter-kit/mas-to-dobre-1.jpg" alt="BigClown Playground" style = "max-width:100%">
                                      </div>
                                      <div class = "col-md-6 align-self-center">
                                        <img src="/_assets/images/starter-kit/mas-to-dobre-2.jpg" alt="BigClown Playground" style = "max-width:100%">
                                      </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="collapsor__item">
                                    <div class="collapsor__header">
                                      <div class="row">
                                        <div class = "col-md-6 align-self-center">
                                          <h2><span>Krok 2</span>Připrav si počítač</h2>
                                          <span class = "button button--redtext">Jdu na to</span>
                                        </div>
                                        <div class = "col-md-6 align-self-center">
                                          <img src="/_assets/images/starter-kit/4-ilustrace-kluk-u-PC-s-KITem.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                    </div>

                                    <div class="collapsor__body">
                                      <div class="row">
                                      <div class = "col-md-6 align-self-center ">
                                        <div class = "handbook__perex">
                                          <p>Pro ovládání Kitu potřebuješ <strong>software</strong>. Narozdíl od hardwaru si na software nemůžeš sáhnout, ale dá se s ním pracovat ve virtuálním prostředí. 🤖</p>
                                        </div>
                                        <ol>
                                        <li><strong>Stáhni si do počítače aplikaci Playground</strong>. Vyber si z nabídky podle svého systému.</li>
                                        {{ partial "playground.html" }}
                                        <li>Aplikaci spusť. 🚀</li>
                                        </ol>
                                      </div>
                                      <div class = "col-md-6 align-self-center text-center">
                                        <img src="/_assets/images/starter-kit/gif-ikonka-playground.gif" alt="BigClown Playground" style = "max-width:100%">
                                      </div>
                                      </div>

                                    </div>
                                </div>

                                <div class="collapsor__item">
                                    <div class="collapsor__header">
                                      <div class="row">
                                        <div class = "col-md-6 align-self-center">
                                          <h2><span>Krok 3</span>Propoj aplikaci s krabičkou</h2>
                                          <span class = "button button--redtext">Jdu na to</span>
                                        </div>
                                        <div class = "col-md-6 align-self-center">
                                          <img src="/_assets/images/starter-kit/5-ilustrace-kluk-zapojuje-Dongle.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                    </div>

                                    <div class="collapsor__body">
                                      <div class="row justify-content-center">
                                        <div class = "col-md-8 text-center">
                                          <div class = "handbook__perex">
                                            <p>Teď přijde to nejzábavnější. Hardware propojíš se softwarem, aneb <strong>krabičku začneš ovládat</strong> z počítače. 🤘</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class = "col-md-6">
                                          <ol>
                                            <li><strong>Bacha: Před propojením vyndej z krabičky baterky</strong>. Kdyby tam byly ještě před tím, ke spojení by nedošlo.</li>
                                            <li>Nejdřív použij <strong>USB Dongle</strong>. Vlož ho do počítače.</li>
                                            <li>V aplikaci Playground klikni na záložku <strong>Devices</strong>.</li>
                                            <li>Klikni na tlačítko <strong>Connect</strong>. Aplikace se připojí ke tvému USB Dongle.</li>
                                            <li>Klikni na tlačítko <strong>Start pairing</strong>.</li>
                                            <li>Teď <strong>vlož do krabičky baterky</strong>. Zažehneš tím signál pro USB Dongle. Světýlko na Core Modulu červeně blikne, ale neboj, znamená to, že je všechno ok.</li>
                                            <li>Načetlo se ti ID krabičky? <strong>Gratulujeme, jsi propojen!</strong> 👏</li>
                                            <li>Po úspěšném propojení klikni na <strong>Stop pairing</strong>, aby počítač nezachytil zařízení někoho jiného.</li>
                                          </ol>
                                        </div>
                                        <div class = "col-md-6">
                                           <img src="/_assets/images/starter-kit/connect-gif.gif" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class = "col-md-8">
                                          <h3>🙌 Máš to dobře, když:</h3>
                                          <ul class = "checklist">
                                            <li>
                                              <label class="checkbox">baterky vložíš až po kliknutí na tlačítko Start pairing.
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                            <li>
                                              <label class="checkbox">jsi opravdu napojený <strong>jenom na svoji krabičku</strong>. To ověříš v programu v záložce Messages. Když stiskneš tlačítko, hned se ti objeví zpráva.
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                            <li>
                                              <label class="checkbox">používáš jenom <strong>součástky ze Starter Kitu</strong>, které jsme popsali v sekci  „Nejdřív to dej dohromady”.
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                            <li>
                                              <label class="checkbox">v krabičce máš <strong>firmware pro Starter Kit</strong>. Firmware je program nahraný na Core module. Core module jsme si předtím popsali jako srdce – a firmware je vlastně takový mozek. Celé krabičce říká, co má přesně dělat. Na každý typ kitu proto potřebuješ jiný firmware.<br/><br/>
                                                Pokud krabičku používal někdo před tebou, může se stát, že do krabičky nahrál firmware z jiného kitu. Ověř si, že používáš firmware pro Starter Kit. Klikni do záložky „Devices”: vidíš ve sloupci <strong>alias</strong> napsané „push-button:0”? Jestli ne, <a href = "#">nainstaluj si firmware Push Button</a>.
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="collapsor__item">
                                    <div class="collapsor__header">
                                      <div class="row">
                                        <div class = "col-md-6 align-self-center">
                                          <h2><span>Krok 4</span>3 miniprojekty na rozjezd</h2>
                                          <span class = "button button--redtext">Jdu na to</span>
                                        </div>
                                        <div class = "col-md-6 align-self-center">
                                          <img src="/_assets/images/starter-kit/6-ilustrace-devce-meri-teplotu.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                    </div>

                                    <div class="collapsor__body">
                                      <div class="row justify-content-center">
                                        <div class = "col-md-9 handbook__perex text-center">
                                          <p>Máme pro tebe nápady na první jednoduché projekty. Pojď machrovat! 🕶️</p>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class = "col-12">
                                        <h2 class = "handbook__title">I. Změř teplotu u sebe v pokoji</h2>
                                        </div>
                                        <div class = "col-md-6">

                                          <p>Se Starter Kitem <strong>změříš okolní teplotu</strong>.🌡To využiješ třeba při měření teploty u sebe v pokoji nebo jako preventivní hlásič požáru v kuchyni.</p>

                                          <ol>
                                            <li>Propoj USB Dongle s krabičkou a s počítačem <strong>podle návodu výš</strong>.</li>
                                            <li>Otevři v aplikaci záložku <strong>Messages</strong>. Automaticky uvidíš, jak se mění teplota v místnosti. K měření dochází jednou za čas nebo při velké změně. Pro urychlení můžeš krabičku chytit do dlaní a <strong>fouknout na ni</strong>.</li>
                                          </ol>
                                          <p><strong>Náš tip:</strong> Vlož krabičku na chvíli do lednice a sleduj, jak se mění teplota.</p>

                                        </div>
                                        <div class = "col-md-6">
                                           <img src="/_assets/images/starter-kit/mereni-dechu.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class = "col-12 ">
                                          <h2 class = "handbook__title">II. Checkuj polohu krabičky</h2>
                                        </div>
                                        <div class = "col-md-6">
                                          <p>Starter Kit umí snímat polohu. Zaznamená, kdykoli ho obrátíš. To využiješ třeba jako hlásič, že něco spadlo nebo že někdo vstal z postele. 🖖</p>
                                          <ol>
                                            <li>Propoj USB Dongle s krabičkou a s počítačem <strong>podle návodu výš</strong>.</li>
                                            <li>Otevři v aplikaci Playground záložku <strong>Messages</strong>.</li>
                                            <li><strong>Otoč krabičkou</strong>. Na obrazovce uvidíš, že došlo ke změně polohy.</li>
                                            <li>Každá poloha má svůj číselný kód. Zjisti, <strong>jaký kód znamená jakou polohu</strong>.</li>
                                          </ol>
                                          <p><strong>Náš tip:</strong> Čte ti sourozenec deníček? Nalep krabičku na spodní stranu deníčku. Jakékoli naklonění se ti zobrazí v aplikaci a budeš mít důkaz!</p>
                                        </div>
                                        <div class = "col-md-6">
                                           <img src="/_assets/images/starter-kit/zmena-polohy.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class = "col-12">
                                          <h2 class = "handbook__title">III. Zmáčkni to!</h2>
                                        </div>
                                        <div class = "col-md-6">
                                          <p>Teď konečně zjistíš, k čemu je to velké tlačítko. 🤔 Využiješ ho třeba pro počítání.</p>
                                          <ol>
                                            <li>Propoj USB Dongle s krabičkou a s počítačem <strong>podle návodu výš</strong>.</li>
                                            <li>Otevři v aplikaci Playground záložku <strong>Messages</strong>.</li>
                                            <li><strong>Zmáčkni tlačítko na krabičce.</strong> V aplikaci se ti zmáčknutí zobrazí. </li>
                                            <li>Tlačítko <strong>počítá, kolikrát jsi ho zmáčkl</strong>.</li>
                                          </ol>
                                          <p><strong>Náš tip:</strong> V pokročilejších projektech se naučíš ještě zajímavější funkce. Třeba jak z tlačítka udělat domovní zvonek, který ti zprávy o zazvonění pošle do mobilu. 👌</p>

                                        </div>
                                        <div class = "col-md-6">
                                           <img src="/_assets/images/starter-kit/pocitani-akce.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class = "col-md-8">
                                          <img src="/_assets/images/starter-kit/9-komiks.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="collapsor__item">
                                    <div class="collapsor__header">
                                      <div class="row">
                                        <div class = "col-md-6 align-self-center">
                                          <h2><span>Krok 5</span>Pokročilejší projekty aneb vylepši cokoli</h2>
                                          <span class = "button button--redtext">Jdu na to</span>
                                        </div>
                                        <div class = "col-md-6 align-self-center">
                                          <img src="/_assets/images/starter-kit/7-ilustrace-kluk-sestavuje-zvonek.png" alt="BigClown Playground" style = "max-width:100%">
                                        </div>
                                      </div>

                                    </div>

                                    <div class="collapsor__body">
                                      <div class="row justify-content-center">
                                        <div class = "col-md-8 handbook__perex text-center">
                                          <p>Už to ovládáš? Gratulace! 👏 Nauč se ještě víc s <strong>pokročilejšími projekty</strong> složenými ze Starter kitu, se kterými vylepšíš své okolí. Pomoct druhým a přitom se ukázat, tomu říkáme super kombo.</p>
                                        </div>
                                      </div>

                                      <div class="articles">
                                                          <div class="row">
                                                            {{ range where .Site.Pages ".Params.handbook" "starter-kit" }}
                                                              <div  class="col-12 col-md-6 col-lg-4">
                                                                  {{ .Render "grid" }}
                                                              </div>
                                                              {{ end }}
                                                          </div>
                                                          <div class="text-center">
                                                              <a href="" class="button button--redtext button--redtext--2">Show more projects</a>
                                                          </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


<!--<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title title--withoutsubtitle text-center">{{ i18n "projects_to_build" | safeHTML }}</h2>
        <div class="articles">
          <div class="row">
            {{ range first 6 ($.Site.GetPage "section" "projects").Pages }}
              {{ .Render "grid" }}
            {{ end }}
          </div>
          <div class="text-center">
            <a href="{{ "projects/" | absLangURL }}" class="button button--redtext button--redtext--2">{{ i18n "show_all_projects"}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

{{ end }}
