{{ define "main" }}

{{ partial "www/heading.html" (dict "heading" .Params.mainHeading) }}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title text-center">{{ .Params.heading }}<small>{{ .Params.subheading }}</small></h2>

        <div class="row">
          <div class="col-12 col-lg-10 mr-auto ml-auto">
            <div class="text text--team text-center">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="team__items">
    <div class="container">
      <div class="row">
        {{ range sort .Data.Pages ".Weight"}}
        {{ .Render "grid" }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
